* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-family: 'Nunito', sans-serif;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #0eb582;
}

/* ---------- End Scrollbar ---------- */
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
}

#navbar a {
  margin-right: auto;
  font-size: 1.35rem;
}

#navbar a i {
  color: #0eb582;
}

#navbar a span {
  font-weight: 600;
}

#navbar > button {
  margin-right: .5rem;
}

#navbar ul li a {
  font-size: 1.2rem;
  color: black;
}

#navbar ul li a:hover {
  color: #0eb582;
}

#navbar .navbar-toggler {
  color: black;
  border: none !important;
}

#navbar .btn-outline-dark {
  border: none !important;
}

#navbar .btn-outline-dark:hover {
  color: #0eb582;
  background: none !important;
}

footer {
  background-color: #f0fdfa;
  margin-top: 1.5rem;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

footer .row > div {
  margin-bottom: .5rem;
}

footer .row i {
  color: #0eb582;
  font-size: 1.25rem;
}

footer .row span {
  font-size: 1.25rem;
  font-weight: 500;
}

footer .row p {
  padding-top: .5rem !important;
  opacity: 0.7;
  font-size: 0.9rem;
}

footer .row button {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  background-color: #0eb582;
}

footer .row button i {
  color: #ffffff;
}

footer .row button:hover {
  background-color: rgba(11, 10, 10, 0.871);
}

footer .row ul {
  padding-top: .5rem !important;
}

footer .row ul li a {
  opacity: 0.7;
  color: rgba(11, 10, 10, 0.871);
  border-bottom: 1px solid #f0fdfa;
}

footer .row ul li a:hover {
  color: #0eb582;
  border-bottom: 1px solid #0eb582;
}

footer .row input {
  border: 1px solid #0eb582;
  padding: 0.375rem 0.75rem;
}

footer .row button#insc {
  margin-top: .3rem;
  color: #0eb582;
  border: 1px solid #0eb582;
  background: none;
}

footer .row button#insc:hover {
  color: #ffffff;
  background: #0eb582;
}

#home #bannerHome {
  padding: 0 !important;
}

#home #bannerHome #carouselIndicators li {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

#home #bannerHome #carouselIndicators li.active {
  background-color: #0eb582 !important;
}

#home #bannerHome a.carousel-control-prev {
  width: 100%;
  opacity: 1;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

#home #bannerHome a.carousel-control-prev div {
  margin-left: 1.5rem;
}

#home #bannerHome a.carousel-control-prev h3 {
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

#home #bannerHome a.carousel-control-prev button.myBtn {
  margin-top: .5rem;
  cursor: pointer;
  display: block;
  color: #0eb582;
  border: 1px solid #0eb582;
  padding: .575rem .95rem;
  line-height: 1rem;
}

#home #bannerHome a.carousel-control-prev button.myBtn:hover {
  color: #ffffff;
  background-color: #0eb582;
}

#home #sectionPopulares {
  margin-top: 2.5rem;
}

#home #sectionPopulares > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#home #sectionPopulares > .row h3 {
  font-weight: 600;
}

#home #sectionPopulares > .row .elements {
  margin-bottom: 1rem;
}

#home #sectionPopulares > .row .elements > div {
  cursor: pointer;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid #0eb582;
  background-color: #f0fdfa;
  min-height: 100%;
}

#home #sectionPopulares > .row .elements > div .modules {
  opacity: 0.7;
}

#home #sectionPopulares > .row .elements > div img {
  height: 5.8rem;
  margin-bottom: 1rem;
}

#home #sectionPopulares > .row .elements > div span {
  display: block;
  margin-bottom: .5rem;
}

#home #sectionPopulares > .row .elements > div:hover {
  background-color: #0eb582;
}

#home #sectionPopulares > .row .elements > div:hover span {
  color: white;
  opacity: 1;
}

#home #sectionCourses {
  text-align: center;
  margin-top: 2.5rem;
}

#home #sectionCourses > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home #sectionCourses > .row h3 {
  font-weight: 600;
}

#home #sectionCourses > .row div.elements {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 2rem;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: #f0fdfa;
  position: relative;
}

#home #sectionCourses > .row div.elements h4 {
  margin-top: 1rem;
}

#home #sectionCourses > .row div.elements div.absolute {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 15px;
  color: #ffffff;
  background-color: #0eb582;
}

#home #sectionCourses > .row div.elements div.absolute button.myBtn {
  margin-top: .5rem;
  cursor: pointer;
  display: block;
  color: #0eb582;
  border: 1px solid #0eb582;
  padding: .575rem .95rem;
  line-height: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#home #sectionCourses > .row div.elements div.absolute button.myBtn:hover {
  color: #ffffff;
  background-color: rgba(11, 10, 10, 0.871);
}

#home #sectionCourses > .row div.elements:hover > div.absolute {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#about #bannerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  background: url("../img/heading-bg.jpg") no-repeat center center;
}

#about #bannerAbout .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about #bannerAbout .row span {
  font-size: 1.45rem;
  opacity: 0.7;
}

#about #bannerAbout .row h3 {
  font-size: 2.7rem;
}

#about #bannerAbout .row a {
  opacity: 1;
  color: #0eb582;
  border-bottom: 1px solid #f0fdfa;
}

#about #bannerAbout .row a:hover {
  color: #0eb582;
  border-bottom: 1px solid #0eb582;
}

#about #courses {
  margin-top: 2rem;
}

#about #courses > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#about #courses > .row h4 {
  margin-top: 1rem;
  font-weight: 600;
}

#about #courses > .row div.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #courses > .row div.elements > div {
  background-color: #f0fdfa;
  border: 1px solid #0eb582;
  width: 100vh;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#about #courses > .row div.elements > div h4 {
  margin-top: .5rem;
  font-size: 1.8rem;
  margin-bottom: 0;
}

#about #courses > .row div.elements > div img {
  padding-top: 1px;
  width: 55px;
  height: 60px;
}

#about #courses > .row div.elements > div p {
  opacity: 0.7;
  line-height: 1;
  margin-bottom: 0;
  margin-top: .5rem;
}

#about #courses > .row span {
  opacity: 0.7;
}

#about #teachers {
  margin-top: 5.0rem;
}

#about #teachers > .row {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#about #teachers > .row h3 {
  font-weight: 600;
  margin-bottom: 0 !important;
}

#about #teachers > .row div.elements {
  cursor: pointer;
  background-color: #f0fdfa;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  position: relative;
}

#about #teachers > .row div.elements div.absolute {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 15px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

#about #teachers > .row div.elements div.absolute a {
  color: #ffffff;
  text-decoration: none;
}

#about #teachers > .row div.elements div.absolute i {
  margin-left: .5rem;
  margin-right: .5rem;
  font-size: 2rem;
}

#about #teachers > .row div.elements div.absolute i:hover {
  color: #0eb582;
}

#about #teachers > .row div.elements:hover {
  background-color: #0eb582;
}

#about #teachers > .row div.elements:hover div.absolute {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#about #teachers > .row h5.left {
  float: left;
}

#about #teachers > .row span.right {
  opacity: 0.8;
  float: right;
}

#about #students {
  margin-top: 5rem;
}

#about #students > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#about #students > .row h3 {
  font-weight: 600;
}

#about #students > .row div.comment {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  background-color: #f0fdfa;
  border: 1px solid #0eb582;
}

#about #students > .row div.comment span {
  opacity: 0.8;
  font-size: 0.9rem;
}

#about #students > .row div.comment::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom: 1px solid #f0fdfa;
  border-top-color: #0eb582;
  border-bottom: 0;
  margin-left: -13px;
  margin-bottom: -13px;
}

#about #students > .row img {
  margin-top: 1.5rem;
  width: 90px;
  border-radius: 50%;
}

#about #students > .row i {
  font-size: 0.8rem;
  color: #0eb582;
}

#bodyCourses #bannerCourses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  background: url("../img/heading-bg.jpg") no-repeat center center;
}

#bodyCourses #bannerCourses .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bodyCourses #bannerCourses .row span {
  font-size: 1.45rem;
  opacity: 0.7;
}

#bodyCourses #bannerCourses .row h3 {
  font-weight: 0 !important;
  font-size: 2.7rem;
}

#bodyCourses #bannerCourses .row a {
  opacity: 1;
  color: #0eb582;
  border-bottom: 1px solid #f0fdfa;
}

#bodyCourses #bannerCourses .row a:hover {
  color: #0eb582;
  border-bottom: 1px solid #0eb582;
}

#bodyCourses .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 2.5rem;
}

#bodyCourses .row h3, #bodyCourses .row h5 {
  font-weight: 600;
}

#bodyCourses .row button.prof {
  cursor: pointer;
  margin-top: .5rem;
  border: 1px solid #0eb582;
  background-color: #f0fdfa;
  padding: 0.7rem 2rem;
  color: #0eb582;
}

#bodyCourses .row button.prof:hover {
  color: #ffffff;
  background-color: #0eb582;
}

#bodyCourses .row div.elements {
  position: relative;
  margin-top: 1rem;
}

#bodyCourses .row div.elements div.data {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid #0eb582;
}

#bodyCourses .row div.elements > div {
  position: relative;
  overflow: hidden;
  background-size: cover;
}

#bodyCourses .row div.elements > div img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#bodyCourses .row div.elements > div span.lorem {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.8;
}

#bodyCourses .row div.elements > div hr {
  background-color: #0eb582;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#bodyCourses .row div.elements > div span.left {
  float: left;
  margin-left: 1.5rem;
}

#bodyCourses .row div.elements > div span.right {
  float: right;
  margin-right: 1.5rem;
}

#bodyCourses .row div.elements > div i {
  color: #0eb582;
}

#bodyCourses .row div.elements div.carrer {
  display: inline;
  padding: .3em .7rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 25px;
  margin-top: 10px;
  background-color: #ffffff;
  font-size: 0.9rem;
}

#bodyCourses .row div.elements:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#bodyContact #bannerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  background: url("../img/heading-bg.jpg") no-repeat center center;
}

#bodyContact #bannerContact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#bodyContact #bannerContact .row span {
  font-size: 1.45rem;
  opacity: 0.7;
}

#bodyContact #bannerContact .row h3 {
  font-weight: 600;
  font-size: 2.7rem;
}

#bodyContact #bannerContact .row a {
  opacity: 1;
  color: #0eb582;
  border-bottom: 1px solid #f0fdfa;
}

#bodyContact #bannerContact .row a:hover {
  color: #0eb582;
  border-bottom: 1px solid #0eb582;
}

#bodyContact #sectionContact {
  margin-top: 5rem;
}

#bodyContact #sectionContact > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#bodyContact #sectionContact > .row h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#bodyContact #sectionContact > .row div.elements {
  margin-top: 1rem;
}

#bodyContact #sectionContact > .row div.elements > div {
  border: 1px solid #0eb582;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #f0fdfa;
  min-height: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#bodyContact #sectionContact > .row div.elements > div i {
  margin-bottom: .5rem;
  color: #ffffff;
  padding: 1rem;
  background: #0eb582;
  border-radius: 50%;
}

#bodyContact #sectionContact > .row div.elements > div span {
  opacity: 0.8;
  font-size: 0.89rem;
  display: block;
}

#bodyContact #sectionContact > .row div.form {
  margin-top: 1rem;
}

#bodyContact #sectionContact > .row div.form > div {
  border: 1px solid #0eb582;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #ffffff;
  padding-bottom: 1rem;
  height: 100%;
  padding-top: 1rem;
}

#bodyContact #sectionContact > .row div.form > div input, #bodyContact #sectionContact > .row div.form > div textarea {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: .5rem .7rem;
  border: 1px solid #0eb582;
}

#bodyContact #sectionContact > .row div.form > div input:focus, #bodyContact #sectionContact > .row div.form > div textarea:focus {
  background-color: #0eb582;
  color: #ffffff;
}

#bodyContact #sectionContact > .row div.form > div input:focus::-webkit-input-placeholder, #bodyContact #sectionContact > .row div.form > div textarea:focus::-webkit-input-placeholder {
  color: white;
}

#bodyContact #sectionContact > .row div.form > div input:focus:-ms-input-placeholder, #bodyContact #sectionContact > .row div.form > div textarea:focus:-ms-input-placeholder {
  color: white;
}

#bodyContact #sectionContact > .row div.form > div input:focus::-ms-input-placeholder, #bodyContact #sectionContact > .row div.form > div textarea:focus::-ms-input-placeholder {
  color: white;
}

#bodyContact #sectionContact > .row div.form > div input:focus::placeholder, #bodyContact #sectionContact > .row div.form > div textarea:focus::placeholder {
  color: white;
}

#bodyContact #sectionContact > .row div.form button {
  cursor: pointer;
  margin-top: 1rem;
  color: #0eb582;
  border: 1px solid #0eb582;
  padding: .5rem .7rem;
  background-color: #f0fdfa;
}

#bodyContact #sectionContact > .row div.form button:hover {
  color: #ffffff;
  background-color: #0eb582;
}

#bodyContact #sectionQuestion {
  margin-top: 5rem;
}

#bodyContact #sectionQuestion > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#bodyContact #sectionQuestion > .row h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#bodyContact #accordion, #bodyContact #accordion2 {
  text-align: justify;
}

#bodyContact #accordion .card-header, #bodyContact #accordion2 .card-header {
  background-color: #ffffff !important;
}

#bodyContact #accordion .card-header button, #bodyContact #accordion2 .card-header button {
  color: rgba(11, 10, 10, 0.871) !important;
}

#bodyContact #accordion .card-header button, #bodyContact #accordion2 .card-header button {
  width: 100%;
}

#bodyContact #accordion .card-header i, #bodyContact #accordion2 .card-header i {
  color: #0eb582;
  margin-left: .5rem !important;
}

#bodyContact #accordion .card-header.active, #bodyContact #accordion2 .card-header.active {
  background-color: #0eb582 !important;
}

#bodyContact #accordion .card-header.active button, #bodyContact #accordion .card-header.active i, #bodyContact #accordion2 .card-header.active button, #bodyContact #accordion2 .card-header.active i {
  color: #ffffff !important;
}

#bodyContact #accordion span, #bodyContact #accordion2 span {
  opacity: 0.8;
  font-size: 0.9;
}

@media (max-width: 330px) {
  #courses .elements {
    display: none !important;
  }
}

@media (max-width: 400px) {
  #bannerHome a.carousel-control-prev div {
    margin-left: 0.5rem !important;
  }
  #bannerHome .carousel-indicators {
    display: none;
  }
  #bannerHome h3 {
    font-size: 1.1rem;
    margin-right: auto;
  }
  #bannerHome button {
    font-size: 1rem;
    padding: .575rem 0.35rem !important;
  }
  #about h3 {
    font-size: 2rem !important;
  }
  #about #bannerAbout span {
    font-size: 1.2rem !important;
  }
  #about #courses h4 {
    font-size: 1.3rem;
  }
  #about #courses span {
    font-size: 0.8rem !important;
  }
  #bodyCourses h3 {
    font-size: 2rem !important;
  }
  #bodyCourses h4 {
    font-size: 1.3rem;
  }
  #bodyCourses #bannerCourses span {
    font-size: 1.2rem !important;
  }
  #bodyContact h3 {
    font-size: 2rem !important;
  }
  #bodyContact #bannerContact span {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 992px) {
  #home #bannerHome a.carousel-control-prev div {
    margin-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  #home #bannerHome a.carousel-control-prev div {
    margin-left: 5.5rem;
  }
}
/*# sourceMappingURL=style.css.map */