* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    font-family: 'Nunito', sans-serif;
}

/* ---------- Variables ---------- */
$green: #0eb582;
$greenLight: rgb(240, 253, 250);
$white: #ffffff;
$black: rgba(11, 10, 10, 0.871);
/* ---------- End Variables ---------- */

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: $green;
}
/* ---------- End Scrollbar ---------- */

#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41); 
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);
    
    a {
        margin-right: auto;
        font-size: 1.35rem;

        i {
            color: $green;
        }

        span {
            font-weight: 600;
        }
    }

    >button {
        margin-right: .5rem;
    }

    ul {
        li {
            a {
                font-size: 1.2rem;
                color: black;

                &:hover {
                    color: $green;
                }
            }
        }
    }

    .navbar-toggler {
        color: black;
        border: none !important;
    }

    .btn-outline-dark {
        border: none !important;

        &:hover {
            color: $green;
            background: none !important;
        }
    }
}
// End Navbar

// Footer
footer{
    background-color: $greenLight;
    margin-top: 1.5rem;
    .row{
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        >div{
            margin-bottom: .5rem;
        }
        i {
            color: $green;
            font-size: 1.25rem;
        }

        span {
            font-size: 1.25rem;
            font-weight: 500;
        }

        p {
            padding-top: .5rem !important;
            opacity: 0.7;
            font-size: 0.9rem;
        }

        button {
            cursor: pointer;
            padding: 0.375rem 0.75rem;
            background-color: $green;

            i{
                color: $white;
            }

            &:hover{
                background-color: $black;
            }
        }

        ul{
            padding-top: .5rem !important;

            li{
                a{
                    opacity: 0.7;
                    color: $black;
                    border-bottom: 1px solid $greenLight;

                    &:hover{
                        color: $green;
                        border-bottom: 1px solid $green;
                    }
                }
            }
        }

        input{
            border: 1px solid $green;
            padding: 0.375rem 0.75rem;
        }

        button#insc{
            margin-top: .3rem;
            color: $green;
            border: 1px solid $green;
            background: none;

            &:hover{
                color: $white;
                background: $green;
            }
        }
    }
}
// End Footer

// Home
#home{
    //Banner Home
    #bannerHome {
        padding: 0 !important;

        #carouselIndicators li {
            border-radius: 50%;
            height: 1rem;
            width: 1rem;
        }

        #carouselIndicators li.active {
            background-color: $green !important;
        }

        a.carousel-control-prev {
            width: 100%;
            opacity: 1;
            justify-content: left;
            text-align: left;

            div{
                margin-left: 1.5rem;
            }

            h3{
                color: $white;
                display: block;
                font-weight: bold;
                margin-bottom: .5rem;
            }

            button.myBtn {
                margin-top: .5rem;
                cursor: pointer;
                display: block;
                color: $green;
                border: 1px solid $green;
                padding: .575rem .95rem;
                line-height: 1rem;

                &:hover {
                    color: $white;
                    background-color: $green;
                }
            }
        }
    }
    //End Banner Home

    // Populares
    #sectionPopulares{
        margin-top: 2.5rem;
        >.row{
            display: flex;
            justify-content: center;
            text-align: center;

            h3{
                font-weight: 600;
            }

            .elements{
                margin-bottom: 1rem;
                >div{
                    cursor: pointer;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    border: 1px solid $green;
                    background-color: $greenLight;
    
                    .modules{
                        opacity: 0.7;
                    }
    
                    img{
                        height: 5.8rem;
                        margin-bottom: 1rem;
                    }
    
                    span{
                        display: block;
                        margin-bottom: .5rem;
                    }
    
                    &:hover{
                        background-color: $green;
    
                        span{
                            color: white;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    // End Populares

    // 
    #sectionCourses{
        text-align: center;
        margin-top: 2.5rem;

        >.row{
            display: flex;
            justify-content: center;

            h3{
                font-weight: 600;
            }

            div.elements{
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                margin-top: 2rem;
                cursor: grabbing;
                background-color: $greenLight;
                position: relative; 

                h4{
                    margin-top: 1rem;
                }

                div.absolute{
                    display: none;
                    position: absolute;
                    align-items: center;
                    bottom: 0;
                    width: 100%;
                    //height: 30vh;
                    padding: 1.5rem 15px;
                    color: $white;
                    background-color: $green;

                    button.myBtn {
                        margin-top: .5rem;
                        cursor: pointer;
                        display: block;
                        color: $green;
                        border: 1px solid $green;
                        padding: .575rem .95rem;
                        line-height: 1rem;
                        margin-left: auto;
                        margin-right: auto;

                        &:hover {
                            color: $white;
                            background-color: $black;
                        }
                    }
                }

                &:hover{
                    >div.absolute{
                        display: flex !important;
                    }
                }
            }
        }
    }
}

// About
#about{
    #bannerAbout{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        background: url("../img/heading-bg.jpg") no-repeat center center;

        .row{
            display: flex;
            margin-top: auto;
            justify-content: center;
            
            span{
                font-size: 1.45rem;
                opacity: 0.7;
            }

            h3{
                font-size: 2.7rem;
            }
            
            a {
                opacity: 1;
                color: $green;
                border-bottom: 1px solid $greenLight;
                &:hover {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
        }
    }

    #courses{
        margin-top: 2rem;

        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            h4{
                margin-top: 1rem;
                font-weight: 600;
            }

            div.elements{
                display: flex;
                justify-content: center;
                align-items: center;
                
                

                >div{
                    background-color: $greenLight;
                    border: 1px solid $green;
                    width: 100vh;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    h4{
                        margin-top: .5rem;
                        font-size: 1.8rem;
                        margin-bottom: 0;
                    }
                    img{
                        padding-top: 1px;
                        width: 55px;
                        height: 60px;
                    }
                    p{
                        opacity: 0.7;
                        line-height: 1;
                        margin-bottom: 0;
                        margin-top: .5rem;
                    }
                }
              
            }

            span{
                opacity: 0.7;
            }

            
        }
    }

    //Teachers
    #teachers{
        margin-top: 5.0rem;

        >.row{
            margin-top: 0;
            display: flex;
            justify-content: center;
            text-align: center;

            h3{
                font-weight: 600;
                margin-bottom: 0 !important;
            }

            div.elements{
                cursor: pointer;
                background-color: $greenLight;
                padding-bottom: 1.5rem;
                margin-top: 1rem;
                position: relative; 

                div.absolute{
                    display: none;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    bottom: 0;
                    width: 100%;
                    padding: 1.5rem 15px;
                    color: white;
                    background: rgba(0, 0, 0, 0.8);
                    
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }

                    i{
                        margin-left: .5rem;
                        margin-right: .5rem;
                        font-size: 2rem;

                        &:hover{
                            color: $green;
                        }
                    }
                }

                &:hover{
                    background-color: $green;

                    div.absolute{
                        display: flex !important;
                        
                    }
                }
            }

            h5.left{
                float: left;
            }

            span.right{
                opacity: 0.8;
                float: right;
            }
        }
    }
    // End teachers

    // Students
    #students{
        margin-top: 5rem;

        >.row{
            display: flex;
            justify-content: center;
            text-align: center;

            h3{
                font-weight: 600;
            }

            div.comment{
                cursor: pointer;
                position: relative;
                border-radius: 10px;
                padding: 1rem;
                background-color: $greenLight;
                border: 1px solid $green;

                span {
                    opacity: 0.8;
                    font-size: 0.9rem;
                }
            }

            div.comment::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 0;
                border: 13px solid transparent;
                border-bottom: 1px solid $greenLight;
                border-top-color: $green;
                border-bottom: 0;
                margin-left: -13px;
                margin-bottom: -13px;
            }

            img{
                margin-top: 1.5rem;
                width: 90px;
                border-radius: 50%;
            }

            i{
                font-size: 0.8rem;
                color: $green;
            }
        }
    }
    // End Students
}
// End About

// Courses
#bodyCourses{
    #bannerCourses{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        background: url("../img/heading-bg.jpg") no-repeat center center;

        .row{
            display: flex;
            margin-top: auto;
            justify-content: center;
            
            span{
                font-size: 1.45rem;
                opacity: 0.7;
            }

            h3{
                font-weight: 0 !important;
                font-size: 2.7rem;
            }
            
            a {
                opacity: 1;
                color: $green;
                border-bottom: 1px solid $greenLight;
                &:hover {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
        }
    }
    
    .row{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2.5rem;

        h3,h5{
            font-weight: 600;
        }

        button.prof{
            cursor: pointer;
            margin-top: .5rem;
            border: 1px solid $green;
            background-color: $greenLight;
            padding: 0.7rem 2rem;
            color: $green;

            &:hover{
                color: $white;
                background-color: $green;
            }
        }

        div.elements{
            position: relative;
            margin-top: 1rem;
            div.data{
                padding-bottom: 1rem;
                padding-top: 1rem;
                border: 1px solid $green;
            }
            
            >div{
                position: relative;
                overflow: hidden;
                background-size: cover;
                
                img{
                    -moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }

                span.lorem{
                    display: block;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    opacity: 0.8;
                }

                hr{
                    background-color: $green;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                }

                span.left{
                    float: left;
                    margin-left: 1.5rem;
                }
                
                span.right{
                    float: right;
                    margin-right: 1.5rem;
                }

                i{
                    color: $green;
                }
                
            }

            div.carrer{
                display: inline;
                padding: .3em .7rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                margin-left: 25px;
                margin-top: 10px;
                background-color: $white;
                font-size: 0.9rem;
            }

            &:hover{
                img{
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }
    }
}

#bodyContact{
    #bannerContact{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        background: url("../img/heading-bg.jpg") no-repeat center center;

        .row{
            display: flex;
            margin-top: auto;
            justify-content: center;
            text-align: center;
            span{
                font-size: 1.45rem;
                opacity: 0.7;
            }

            h3{
                font-weight: 600;
                font-size: 2.7rem;
            }
            
            a {
                opacity: 1;
                color: $green;
                border-bottom: 1px solid $greenLight;
                &:hover {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
        }
        
    }

    #sectionContact{
        margin-top: 5rem;

        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            h3{
                font-weight: 600;
                margin-bottom: 1rem;
            }

            div.elements{
                margin-top: 1rem;
                >div{
                    border: 1px solid $green;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    background: $greenLight;
                    min-height: 100%;

                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    i{
                        margin-bottom: .5rem;
                        color: $white;
                        padding: 1rem;
                        background: $green;
                        border-radius: 50%;
                    }
        
                    span{
                        opacity: 0.8;
                        font-size: 0.89rem;
                        display: block;
                    }
                }
            }

            div.form{
                margin-top: 1rem;
                >div{
                    border: 1px solid $green;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    background: $white;
                    padding-bottom: 1rem;
                    height: 100%;
                    padding-top: 1rem;

                    input,textarea{
                        display: block;
                        width: 100%;
                        margin-top: 1rem;
                        padding: .5rem .7rem;
                        border: 1px solid $green;

                        &:focus{
                            background-color: $green;
                            color: $white;
                            &::placeholder{
                                color: white;
                            }
                        }
                    }
                }

                button{
                    cursor: pointer;
                    margin-top: 1rem;
                    color: $green;
                    border: 1px solid $green;
                    padding: .5rem .7rem;
                    background-color: $greenLight;

                    &:hover{
                        color: $white;
                        background-color: $green;
                    }
                }
            }
        }
    }

    #sectionQuestion{
        margin-top: 5rem;

        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            h3{
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }
    }

    #accordion, #accordion2{
        text-align: justify;

        .card-header{
            background-color: $white !important;
            
            button{
                color: $black !important;
            }

            button{
                width: 100%;
            }

            i{
                color: $green;
                margin-left: .5rem !important;
            }

            
        }

        .card-header.active{
            background-color: $green !important;
            
            button, i{
                color: $white !important;
            }
        }
        span{
            opacity: 0.8;
            font-size: 0.9;
        }
    }

    
}

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    #home{
        #bannerHome {
            a.carousel-control-prev {
                div{
                    margin-left: 2.5rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) { 
    #home{
        #bannerHome {
            a.carousel-control-prev {
                div{
                    margin-left: 5.5rem;
                }
            }
        }
    }
    
}