li {
    list-style: none;
}

#soon {
    font-family: Nunito;
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 0;
}

#navbar>a {
    color: rgb(255, 255, 255);
    height: 100%;
    text-decoration: none;
    padding: 0px 14px;
    font-size: 1.15em;
}

#navbar>a:hover {
    background-color: red;
    transition: all 0.25s ease-in;
}

#navbar>a span {
    line-height: 0;
}

/*
#div1 {
        background: url('../imagens/home-bg-1.jpg');
        background: url('../imagens/home-bg-2.jpg');
        background: url('../imagens/home-bg-3.jpg');
        width: 100%;
        height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
    */


.container {
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    /*width: 300px;*/
    /*margin: 100px;*/
}

.container img {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 90%;
}

.container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    max-width: 90%;
}

.bg-dark {
    background-color: black !important;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cf3a3a;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

span#bannersTextWhite {
    color: rgb(255, 255, 255);
    width: 100%; 
    display: block; 
    font-weight: 650;  
    font-family: Trebuchet MS; 
    letter-spacing: 1.1px;
}

span#bannersTextRed {
    color: red; font-family: Tahoma; display: block;
}

span#infoTextRedTitle {
    color: red; 
    font-family: Tahoma; 
    display: block;
    letter-spacing: 1.2px;
}

span#infoTextWhite {
    color: rgb(255, 255, 255); 
    font-family: Verdana, sans-serif; 
    
    letter-spacing: 1.1px;
    display: flex; 
    justify-content: center;
}

span#options{
    color: #848d96d7!important; 
    text-align: justify;
}

div#plans{
    padding: 5px; background-color: rgba(65, 63, 63, 0.255); border: 1px solid rgb(129, 126, 126); border-radius: 30px;
}

@media (max-width: 575.98px) {
    .carousel-inner {
        max-height: 280px;
    }

    span#bannersTextRed {
        font-size: 1.3em;
    }

    span#bannersTextWhite {
        font-size: 1.5em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.1em;
    }

    .text-danger {
        font-size: 1.2em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-inner {
        max-height: 330px;
    }

    span#bannersTextRed {
        font-size: 1.5em;
    }

    span#bannersTextWhite {
        font-size: 2.2em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.2em;
    }

    .text-danger {
        font-size: 1.25em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-inner {
        max-height: 420px;
    }

    span#bannersTextRed {
        font-size: 1.6em;
    }

    span#bannersTextWhite {
        font-size: 2.5em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.25em;
    }

    .text-danger {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-inner {
        max-height: 520px;
    }

    span#bannersTextRed {
        font-size: 1.7em;
    }

    span#bannersTextWhite {
        font-size: 2.6em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.18em;
    }

    #infoLorem {
        font-size: 1.1em;
    }

    #divInfo {
        max-width: 50%;
    }

    .text-danger {
        font-size: 1.5em;
    }
}

@media (min-width: 576px) {
    .container img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .carousel-inner {
        max-height: 650px;
    }

    span#bannersTextRed {
        font-size: 1.7em;
    }

    span#bannersTextWhite {
        font-size: 2.6em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.20em;
    }

    #infoLorem {
        font-size: 1.15em;
    }

    #divInfo {
        max-width: 50%;
    }

    .text-danger {
        font-size: 2em;
    }
}

@media (min-width: 1700px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.35em;
    }
}