
li{
    list-style: none;
}

#soon{
    font-family: Nunito; 
    font-size: 30px; 
    padding: 0; 
    margin: 0; 
    line-height: 0;
}

#navbar>a{
    color: rgb(255, 255, 255);
    height: 100%;
    text-decoration: none;
    padding: 0px 14px;
    font-size: 1.15em;
}

#navbar>a:hover{
    background-color: red;
    transition: all 0.25s ease-in;
}

#navbar>a span{
    line-height: 0;
}

img.d-block.w-100{
}