li {
    list-style: none;
}

.bg-dark {
    background-color: black !important;
}

/* ------------------ Start Navbar ------------------ */

#myNavBarRow{
    background-color: black;
}

#myNavBarRow #myNavBarTitleLeft{
    display: flex;
    align-items: center;
    max-height: 55px; 
}

#myNavBarRow #myNavBarTitleLeft div{
    height: 100%; 
    display: flex; 
    align-items: center;
}

#myNavBarRow #soon {
    font-family: Nunito;
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: red;
    position: relative;
}

#myNavBarRow  #navbar>a {
    color: rgb(255, 255, 255);
    height: 100%;
    text-decoration: none;
    padding: 0px 14px;
    font-size: 1.15em;
}

#myNavBarRow #navbar>a:hover {
    background-color: red;
    transition: all 0.25s ease-in;
}

#myNavBarRow #navbarNavDropdown ul {
}

#myNavBarRow #navbar>a span {
    line-height: 0;
}
/* ------------------ Final Navbar ------------------ */

/* ------------------ Start Banner ------------------ */
#aBannerLeft{
    opacity: 1; 
    width: 80%;
}

#aBannerLeft p{
    text-align: left;
}

#aBannerLeft p span{
    text-align: left;
}

span.bannersTextWhite {
    color: rgb(255, 255, 255);
    width: 100%; 
    display: block; 
    font-weight: 650;  
    font-family: Trebuchet MS; 
    letter-spacing: 1.1px;
}

span.bannersTextRed {
    color: red; 
    font-family: Tahoma; 
    display: block;
}
/* ------------------ Final Banner ------------------ */


/* ------------------ Start Scrollbar ------------------ */
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cf3a3a;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
/* ------------------ Final Scrollbar ------------------ */

/* ------------------ Start Plans ------------------ */
#myRowPlans {
    padding: 0;
    margin-top: 1rem !important;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

#myRowPlans #firstDivInfoPlans {
    padding: 0;
    margin-right: auto;
    margin-bottom: 1rem !important;
}

#myRowPlans #infoTextRedTitle {
    color: red; 
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
}

#myRowPlans #infoTextWhite {
    color: rgb(255, 255, 255); 
    font-family: Verdana, sans-serif; 
    font-size: 1.1rem;
    font-weight: 500;
    display: flex; 
    justify-content: center;
}

#myRowPlans #firstDivInfoPlans .optionsForFirstDiv {
    margin-top: 0.5rem;
}

#myRowPlans #firstDivInfoPlans #firstOption {
    margin-top: 1rem;
}

#myRowPlans svg{
    color: red;
    width: 30px;
    height: 25px;
}

div.plans{
    background: linear-gradient(130deg, rgba(65, 63, 63, 0.255) 93%, transparent 0%);
}

.plans div{
    display: flex; 
    justify-content: center;
}

.plans div span{
    display: flex; 
    justify-content: center;
}

.plans div span, #firstDivInfoPlans div span{
    color: #848d96d7!important;
    text-align: left;
}

#myRowPlans .divPlans {
    margin-bottom: 1rem !important;
    padding: 0;
}

/* ------------------ Final Plans ------------------ */


#rowAbout .infoLorem{
    text-align: left;
}

.infoLorem{
    color: #848d96d7!important; 
    display: block; 
    width: 100%;
    font-size: 0.9em;
    font-weight: 400;
}

#subRowAbout svg{
    color: red;
}

#subRowAbout .subTitleAbout {
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    letter-spacing: 1.01px;
}

/* ------------------ Start Screen ------------------ */
.rowForDivisionScreen{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.rowForDivisionScreen .helpDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.rowForDivisionScreen .helpDiv .firstDiv{
    border: 1px solid rgba(202, 192, 192, 0.589); 
    width: 100%; 
    position: absolute;
}

.rowForDivisionScreen .helpDiv .secondDiv{
    border: 1px solid rgba(202, 192, 192, 0.719); 
    display: inline; 
    padding: 3px 10px; 
    border-radius: 3px; 
    background-color: black;
    z-index: 1;
    font-size: 1.5em;
    color: rgba(255, 0, 0, 0.911);
    font-weight: 500;
}
/* ------------------ Final Screen ------------------ */


/* ------------------ Start Resources ------------------ */
.rowResources{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.resourcersContainer {
    position: relative;
    overflow: hidden;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.resourcersContainer img {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    max-height: 100%;
    width: 100%;
}

.resourcersContainer:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.rowResources .blackDiv{
    background-color: rgba(65, 63, 63, 0.255);
    display: flex;
    align-items: center;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.rowResources .blackDiv .blackDivForImg {
    width: 100%;
}

.rowResources .blackDiv .blackDivForImg div{
    display: flex; 
    justify-content: center;
}

.rowResources .blackDiv .blackDivTitle{
    margin-top: 10px; 
    display: flex; 
    justify-content: center;
}

.rowResources .blackDiv .blackDivTitle span{
    color: rgb(221, 39, 39); 
    font-weight: 650; 
    font-family: Trebuchet MS; 
    letter-spacing: 1.1px;
}
.rowResources .blackDiv .blackDivLorem{
    display: flex; 
    justify-content: center;
}

.rowResources .blackDiv .blackDivLorem span{
    color: #848d96d7!important; 
    display: inline; 
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.rowResources .blackDiv img{
    filter: invert(100%); 
    max-height: 110px;
    max-width: 100%;
    height: auto;
}

.rowResources .blackDiv .blackDivAboutMore{
    display: flex; 
    justify-content: center;
    margin-top: 0.5rem;
}
/* ------------------ Final Resources ------------------ */

@media (max-width: 575.98px) {
    .carousel-inner {
        max-height: 280px;
    }

    span.bannersTextRed {
        font-size: 1.3em;
    }

    span.bannersTextWhite {
        font-size: 1.5em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.1em;
    }

    .text-danger {
        font-size: 1.2em;
    }
}

@media (min-width: 576px){
    .container img {
        width: 100%;
    }

    .carousel-inner {
        max-height: 330px;
    }

    #aBannerLeft p span {
        margin-left: 0.5rem;
    } 

    span.bannersTextRed {
        font-size: 1.5em;
    }

    span.bannersTextWhite {
        font-size: 2.2em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.2em;
    }

    .text-danger {
        font-size: 1.25em;
    }
}

@media (min-width: 768px){
    .carousel-inner {
        max-height: 420px;
    }

    #myRowPlans .divPlans {
    }

    #aBannerLeft p span {
        margin-left: 1.5rem;
    }    

    span.bannersTextRed {
        font-size: 1.55em;
    }

    span.bannersTextWhite {
        font-size: 2.5em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.25em;
    }

    .text-danger {
        font-size: 1.3em;
    }
}

@media (min-width: 992px){
    .carousel-inner {
        max-height: 520px;
    }

    #aBannerLeft p span {
        margin-left: 3rem;
    }

    span.bannersTextRed {
        font-size: 1.7em;
    }

    span.bannersTextWhite {
        font-size: 2.4em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.18em;
    }

    .text-danger {
        font-size: 1.5em;
    }

    div.plans{
        margin: 20px;
    }

    .infoLorem{
        font-size: 0.95em;
    }

    .rowResources .blackDiv .blackDivAboutMore .btn{
        font-size: 1.1em;
    }
}

@media (min-width: 1200px) {
    .carousel-inner {
        max-height: 650px;
    }

    span.bannersTextRed {
        font-size: 1.9em;
    }

    span.bannersTextWhite {
        font-size: 2.6em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.20em;
    }

    .text-danger {
        font-size: 2em;
    }

    .infoLorem{
        font-size: 1em;
    }

    #subRowAbout .subTitleAbout {
        font-size: 1.14em;
    }

    .rowResources .blackDiv .blackDivTitle span{
        font-size: 1.2em;
    }
}

@media (min-width: 1700px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.35em;
    }
}


/*

https://drive.google.com/drive/folders/1Qv5LFzyrEKtWqa75Wi2iGnNTOA-EP5Ni?usp=sharing

*/