*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#about{
    h5 {
        font-weight: 400;
    }
}

#index, #products, #partners, #contact, #about{
    font-size: 1.07rem !important;

    .navbar {
        padding: .3rem 1rem;
        font-size: 1.08rem !important;
    }

    #navegacao{
        
        
    }

    .bg-dark {
        background-color: rgb(29, 28, 28) !important;
    }

    .image {
        background: url("../img/thumbnail.jpg") center center no-repeat;
        background-size: cover;
        overflow: hidden; 
        height: 94%;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
      
    .navbar-dark .navbar-nav .nav-link:hover {
        color: rgb(155, 240, 225);
    }

    a.btn.btn-outline-primary{
        color: #007bff;
    }
      
    a.btn.btn-outline-primary:hover{
        color: white;
    }

    a.btn.btn-outline-light.mt-3{
        color: white;
    }
      
    a.btn.btn-outline-light.mt-3:hover{
        color: black;
    }
      
    a.btn.btn-outline-dark:hover{
        color: white;
    }
      
    a.btn.btn-outline-light:hover{
        color: black;
    }

    hr{
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        font-size: 1.07rem !important;
    }
}
  
@media (min-width: 576px) {
    #about {
        .card-columns {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
}
  
@media (min-width: 768px) {
    ul li a {
        font-size: 1.1em;
    }

    #navegacao{
        display: flex;
        justify-content: center !important;
    }
}
  
@media (min-width: 992px) {
    #about {
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    #index, #products, #partners, #contact, #about{
        ul li a {
            font-size: 1.12em;
        }
        
        .btn {
            font-size: 1.13rem !important;
        }
    }

    
}
  
@media (min-width: 1200px) {
    
}
  
