body{
    background-color: rgb(51, 51, 51) !important;
}

*{
    font-family: "Source Sans Pro", Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(185, 179, 179);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 150, 150);
}

$blue: rgb(41, 217, 213);

#index{
    color: white;

    div.data{
        padding-left: .5rem;
        padding-right: .5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;

        div#title{
            display: flex;
            align-items: center;
            margin-bottom: .3rem;
        }

        h2 {
            display: inline;
            font-weight: bolder;
            line-height: 1;
        }

        button:focus{
            box-shadow: none !important;
            outline: none;
        }

        button{
            margin-left: .5rem;
            margin-right: .5rem;
        }
        

        .elements {
            position: relative;
            overflow: hidden;
            background-size: cover;
            cursor: pointer;
            flex-grow: 1;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            margin-bottom: 0;
            height: 500px;
            
            img{
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                height: 100%;
                width: 100%;
            }
    
            &:hover{
                img{
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }

        button.VueCarousel-dot{
            margin-top: 5px !important;
            margin-bottom: 1rem;
        }
    
        .VueCarousel-dot-container {
            margin-top: 0 !important;
            margin-bottom: 1rem;
    
            button.VueCarousel-dot--active{
                outline: none !important;
                background-color: $blue !important;
            }
        }
    }    
}

#main {
    color: white;
    text-align: center;

    .container-fluid{
        background-size: cover;
        min-height: 500px;
        opacity: 0.5;
    }
    .elements {
        position: relative;
        overflow: hidden;
        background-size: cover;
        cursor: pointer;
        flex-grow: 1;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0;
        height: 569px;
        
        img{
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            height: 100%;
            width: 100%;
        }

        &:hover{
            img{
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    .elements div {
        position: relative;
        height: 100%;
        
        >button {
            position: absolute;
            right: 0;
            padding: 0 !important;
            background-color: white;
            margin: 0.3rem;
            border: 2px solid rgb(148, 173, 110);
            height: 2rem;
            font-size: 1.05rem;
            width: 2rem;
            border-radius: 50%;
        }
    }
    
    h2 {
        font-weight: bolder;
        margin: 3rem 0 1rem 2rem;
    }

    h3{
        margin-top: .5rem;
    }
    
    .VueCarousel-dot-container {
        margin-top: 0 !important;
        margin-bottom: 1rem;

        button.VueCarousel-dot--active{
            outline: none !important;
            background-color: $blue !important;
        }
    }
    
    .vm--modal {
        overflow-y: scroll;
        height: 150vh !important;
        width: 100vh !important;
        bottom: 2rem !important;
        top: 2rem !important;
    }
}

/* Section Movie and Serie */
#movie, #serie {
    color: white;
    text-align: left;

    #banner{
        min-height: 500px;
        position: relative;
        display: flex;
        //align-items: center;
        padding: 0;

        div#background{
            opacity: 0.15;
            min-height: 500px;
            background-size: cover;
            background: u;
            position: absolute;
            left: 0;
            width: 100%;
        }

        >.row{
            display: flex;
            align-items: center;
            min-height: 500px;
            width: 100%;
            padding: 0;
            margin: 0;

            img{
                border-radius: 1.15rem;
                max-height: 460px;
                position: relative;
            }

            div#content{
                padding: 1rem;
                
                h1{
                    font-weight: bolder;
                }

                #years{
                    display: inline-block;

                    >span{
                        border-radius: 0.1rem;
                        font-size: 1.1rem;
                        font-weight: bold;
                        padding: .5rem;
                    }

                    span.isGreen{
                        background-color: rgb(0, 150, 61);
                    }

                    span.isBlue{
                        background-color: rgb(0, 127, 203);
                    }

                    span.isYellow{
                        background-color: rgb(253, 196, 3);
                    }
                    
                    span.isOrange{
                        background-color: rgb(255, 120, 3);
                    }

                    span.isRed{
                        background-color: rgb(255, 33, 33);
                    }
                    
                    span.isBlack{
                        background-color: rgb(20, 19, 10);
                    }

                }

                div#sinopse{
                    margin-top: 3rem;
                    
                    h6{
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    #media{
        margin-top: 1rem;

        >.row{
            width: 100%;

            h4{
                font-weight: bolder;
            }

            button:focus-visible{
                outline: none;
            }
    
            button.select{
                color: white;
                border: none;
                margin-right: .9rem;
                background: transparent;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                border-bottom: 1px solid transparent;
                padding: 0;
    
                &:hover{
                    color: $blue;
                }
            }
    
            button.select.btnActive{
                color: $blue;
                border-bottom: 1px solid $blue;
            }
    
            div.VueCarousel{
                margin-top: .65rem;
    
                .VueCarousel-dot-container {
                    margin-top: 0 !important;
                    margin-bottom: 1rem;
            
                    button.VueCarousel-dot--active{
                        outline: none !important;
                        background-color: $blue !important;
                    }
                }
        
                button.VueCarousel-dot{
                    width: 10px !important;
                    height: 10px !important;
                }
    
                a{
                    width: 100% !important;
                    text-decoration: none;
                    position: relative;
                    display: flex;
                    -moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                    font-weight: lighter;
    
                    img{
                        width: 98%;   
                    }
    
                    div{
                        color: white;
                        display: none;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding-bottom: .5rem;
                        padding-top: .5rem;
                        width: 98%;
                        background: rgba(0, 0, 0, 0.6);
                    }
    
                    &:hover{
                        div{
                            display: block;
                        }
                    }
                }
            }

            div.elenc{
                padding-bottom: .3rem;
                padding-top: .3rem;
                margin-right: 5px;
                height: 100%;
                border: 1px solid rgba(250, 250, 250, 0.45);
    
                hr{
                    margin-left: auto;
                    margin-right: auto;
                    width: 75%;
                }

                h5{
                    font-weight: bold;
                    margin-top: .5rem;
                }

                img{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
/* End Section Movie and Serie */

/* Section Person */
#person{
    color: white;
    text-align: left;
    margin-top: 1.5rem;
    .container-fluid{
        div.row{
            div#colLeft{
                margin-bottom: 2rem;

                hr{
                    width: 75%;
                    color: $blue;
                }

                img{
                    border: 2px solid $blue;
                    border-radius: 12px;
                    max-height: 320px;
                }

                a{
                    display: inline !important;
                    font-size: 1.5rem;
                    color: white;
                    margin-right: .5rem;
                    text-decoration: none;
                    margin-top: .5rem;

                    &:hover{
                        color: $blue;
                    }
                }
            }
            ul.timeline {
                list-style-type: none;
                position: relative;
                
                a{
                    color: $blue;
                }
                a, p{
                    display: inline;
                    margin-right: .5rem;
                }
            }
            ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 9px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }
            ul.timeline > li {
                margin: 20px 0;
                padding-left: 10px;
            }
            ul.timeline > li:before {
                content: ' ';
                background-color: rgb(51, 51, 51);
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid $blue;
                left: 0px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }

            h2{
                font-weight: bolder;
            }

            h4,h5{
                margin-top: 1rem;
                font-weight: bolder;
            }

            a{
                width: 100% !important;
                text-decoration: none;
                position: relative;
                display: flex;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                font-weight: lighter;

                img{
                    width: 98%;   
                }

                div{
                    color: white;
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding-bottom: .5rem;
                    padding-top: .5rem;
                    width: 98%;
                    background: rgba(0, 0, 0, 0.6);
                }

                &:hover{
                    div{
                        display: block;
                    }
                }
            }

            button.VueCarousel-dot{
                margin-top: 5px !important;
                margin-bottom: 1rem;
            }
        
            .VueCarousel-dot-container {
                margin-top: 0 !important;
                margin-bottom: 1rem;
        
                button.VueCarousel-dot--active{
                    outline: none !important;
                    background-color: $blue !important;
                }
            }
        }
    }
}
/* End Section Person */

/* Persons */
#persons{
    text-align: center;
    margin-top: 1rem;
    div.row{
        display: flex;
        justify-content: center;

        div.elements{
            margin-bottom: 1rem;

            div.first{
                overflow: hidden;
                background-size: cover;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;

                img{
                    height: auto;
                    //max-height: 340px;
                    max-width: 100%;
                    -moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }

                &:hover{
                    img{
                        -moz-transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                }
            }
            div.second{
                background-color: #212529;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                padding-bottom: .3rem;
                padding-top: .3rem;

                a{
                    font-size: 1.25rem;
                    text-decoration: none;
                    color: white;
                    padding-bottom: .3rem;
                    padding-top: .3rem;
                    font-weight: bolder;
                    
                    &:hover{
                        color: $blue;
                    }
                }
            }
        }

        nav{
            margin-top: 1rem;
            color: red !important;

            li.disabled{
                opacity: 0.6;
                background-color: transparent;
            }

            li{
                a{
                    color: white;
                    background-color: transparent;

                    &:hover{
                        background-color: #212529;
                    }
                }

                a.selected{
                    background-color: $blue;
                }
            }
        }
    }
}
/* End Section Persons */

@media (max-width: 400px) { 
    
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}

@media (min-width: 1400px) { 
    #movie {
        #banner{
            min-height: 550px;

            div#background{
                min-height: 550px;
            }

            >.row{
                img{
                    max-height: 500px;
                }
            }
        }
    }

    #person{
        .container-fluid{
            div.row{
                div#colLeft{
                    img{
                        max-height: 450px;
                    }
                }
            }
        }
    }
    
}

