body {
  background-color: #333333 !important;
}

* {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b3b3;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999696;
}

#index {
  color: white;
}

#index div.data {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#index div.data div#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .3rem;
}

#index div.data h2 {
  display: inline;
  font-weight: bolder;
  line-height: 1;
}

#index div.data button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none;
}

#index div.data button {
  margin-left: .5rem;
  margin-right: .5rem;
}

#index div.data .elements {
  position: relative;
  overflow: hidden;
  background-size: cover;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  height: 500px;
}

#index div.data .elements img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
}

#index div.data .elements:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#index div.data button.VueCarousel-dot {
  margin-top: 5px !important;
  margin-bottom: 1rem;
}

#index div.data .VueCarousel-dot-container {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

#index div.data .VueCarousel-dot-container button.VueCarousel-dot--active {
  outline: none !important;
  background-color: #29d9d5 !important;
}

#main {
  color: white;
  text-align: center;
}

#main .container-fluid {
  background-size: cover;
  min-height: 500px;
  opacity: 0.5;
}

#main .elements {
  position: relative;
  overflow: hidden;
  background-size: cover;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  height: 569px;
}

#main .elements img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
}

#main .elements:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#main .elements div {
  position: relative;
  height: 100%;
}

#main .elements div > button {
  position: absolute;
  right: 0;
  padding: 0 !important;
  background-color: white;
  margin: 0.3rem;
  border: 2px solid #94ad6e;
  height: 2rem;
  font-size: 1.05rem;
  width: 2rem;
  border-radius: 50%;
}

#main h2 {
  font-weight: bolder;
  margin: 3rem 0 1rem 2rem;
}

#main h3 {
  margin-top: .5rem;
}

#main .VueCarousel-dot-container {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

#main .VueCarousel-dot-container button.VueCarousel-dot--active {
  outline: none !important;
  background-color: #29d9d5 !important;
}

#main .vm--modal {
  overflow-y: scroll;
  height: 150vh !important;
  width: 100vh !important;
  bottom: 2rem !important;
  top: 2rem !important;
}

/* Section Movie and Serie */
#movie, #serie {
  color: white;
  text-align: left;
}

#movie #banner, #serie #banner {
  min-height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#movie #banner div#background, #serie #banner div#background {
  opacity: 0.15;
  min-height: 500px;
  background-size: cover;
  background: u;
  position: absolute;
  left: 0;
  width: 100%;
}

#movie #banner > .row, #serie #banner > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
}

#movie #banner > .row img, #serie #banner > .row img {
  border-radius: 1.15rem;
  max-height: 460px;
  position: relative;
}

#movie #banner > .row div#content, #serie #banner > .row div#content {
  padding: 1rem;
}

#movie #banner > .row div#content h1, #serie #banner > .row div#content h1 {
  font-weight: bolder;
}

#movie #banner > .row div#content #years, #serie #banner > .row div#content #years {
  display: inline-block;
}

#movie #banner > .row div#content #years > span, #serie #banner > .row div#content #years > span {
  border-radius: 0.1rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .5rem;
}

#movie #banner > .row div#content #years span.isGreen, #serie #banner > .row div#content #years span.isGreen {
  background-color: #00963d;
}

#movie #banner > .row div#content #years span.isBlue, #serie #banner > .row div#content #years span.isBlue {
  background-color: #007fcb;
}

#movie #banner > .row div#content #years span.isYellow, #serie #banner > .row div#content #years span.isYellow {
  background-color: #fdc403;
}

#movie #banner > .row div#content #years span.isOrange, #serie #banner > .row div#content #years span.isOrange {
  background-color: #ff7803;
}

#movie #banner > .row div#content #years span.isRed, #serie #banner > .row div#content #years span.isRed {
  background-color: #ff2121;
}

#movie #banner > .row div#content #years span.isBlack, #serie #banner > .row div#content #years span.isBlack {
  background-color: #14130a;
}

#movie #banner > .row div#content div#sinopse, #serie #banner > .row div#content div#sinopse {
  margin-top: 3rem;
}

#movie #banner > .row div#content div#sinopse h6, #serie #banner > .row div#content div#sinopse h6 {
  opacity: 0.7;
}

#movie #media, #serie #media {
  margin-top: 1rem;
}

#movie #media > .row, #serie #media > .row {
  width: 100%;
}

#movie #media > .row h4, #serie #media > .row h4 {
  font-weight: bolder;
}

#movie #media > .row button:focus-visible, #serie #media > .row button:focus-visible {
  outline: none;
}

#movie #media > .row button.select, #serie #media > .row button.select {
  color: white;
  border: none;
  margin-right: .9rem;
  background: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
  padding: 0;
}

#movie #media > .row button.select:hover, #serie #media > .row button.select:hover {
  color: #29d9d5;
}

#movie #media > .row button.select.btnActive, #serie #media > .row button.select.btnActive {
  color: #29d9d5;
  border-bottom: 1px solid #29d9d5;
}

#movie #media > .row div.VueCarousel, #serie #media > .row div.VueCarousel {
  margin-top: .65rem;
}

#movie #media > .row div.VueCarousel .VueCarousel-dot-container, #serie #media > .row div.VueCarousel .VueCarousel-dot-container {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

#movie #media > .row div.VueCarousel .VueCarousel-dot-container button.VueCarousel-dot--active, #serie #media > .row div.VueCarousel .VueCarousel-dot-container button.VueCarousel-dot--active {
  outline: none !important;
  background-color: #29d9d5 !important;
}

#movie #media > .row div.VueCarousel button.VueCarousel-dot, #serie #media > .row div.VueCarousel button.VueCarousel-dot {
  width: 10px !important;
  height: 10px !important;
}

#movie #media > .row div.VueCarousel a, #serie #media > .row div.VueCarousel a {
  width: 100% !important;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: lighter;
}

#movie #media > .row div.VueCarousel a img, #serie #media > .row div.VueCarousel a img {
  width: 98%;
}

#movie #media > .row div.VueCarousel a div, #serie #media > .row div.VueCarousel a div {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: .5rem;
  padding-top: .5rem;
  width: 98%;
  background: rgba(0, 0, 0, 0.6);
}

#movie #media > .row div.VueCarousel a:hover div, #serie #media > .row div.VueCarousel a:hover div {
  display: block;
}

#movie #media > .row div.elenc, #serie #media > .row div.elenc {
  padding-bottom: .3rem;
  padding-top: .3rem;
  margin-right: 5px;
  height: 100%;
  border: 1px solid rgba(250, 250, 250, 0.45);
}

#movie #media > .row div.elenc hr, #serie #media > .row div.elenc hr {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#movie #media > .row div.elenc h5, #serie #media > .row div.elenc h5 {
  font-weight: bold;
  margin-top: .5rem;
}

#movie #media > .row div.elenc img, #serie #media > .row div.elenc img {
  margin-left: auto;
  margin-right: auto;
}

/* End Section Movie and Serie */
/* Section Person */
#person {
  color: white;
  text-align: left;
  margin-top: 1.5rem;
}

#person .container-fluid div.row div#colLeft {
  margin-bottom: 2rem;
}

#person .container-fluid div.row div#colLeft hr {
  width: 75%;
  color: #29d9d5;
}

#person .container-fluid div.row div#colLeft img {
  border: 2px solid #29d9d5;
  border-radius: 12px;
  max-height: 320px;
}

#person .container-fluid div.row div#colLeft a {
  display: inline !important;
  font-size: 1.5rem;
  color: white;
  margin-right: .5rem;
  text-decoration: none;
  margin-top: .5rem;
}

#person .container-fluid div.row div#colLeft a:hover {
  color: #29d9d5;
}

#person .container-fluid div.row ul.timeline {
  list-style-type: none;
  position: relative;
}

#person .container-fluid div.row ul.timeline a {
  color: #29d9d5;
}

#person .container-fluid div.row ul.timeline a, #person .container-fluid div.row ul.timeline p {
  display: inline;
  margin-right: .5rem;
}

#person .container-fluid div.row ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 9px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

#person .container-fluid div.row ul.timeline > li {
  margin: 20px 0;
  padding-left: 10px;
}

#person .container-fluid div.row ul.timeline > li:before {
  content: ' ';
  background-color: #333333;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #29d9d5;
  left: 0px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

#person .container-fluid div.row h2 {
  font-weight: bolder;
}

#person .container-fluid div.row h4, #person .container-fluid div.row h5 {
  margin-top: 1rem;
  font-weight: bolder;
}

#person .container-fluid div.row a {
  width: 100% !important;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: lighter;
}

#person .container-fluid div.row a img {
  width: 98%;
}

#person .container-fluid div.row a div {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: .5rem;
  padding-top: .5rem;
  width: 98%;
  background: rgba(0, 0, 0, 0.6);
}

#person .container-fluid div.row a:hover div {
  display: block;
}

#person .container-fluid div.row button.VueCarousel-dot {
  margin-top: 5px !important;
  margin-bottom: 1rem;
}

#person .container-fluid div.row .VueCarousel-dot-container {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

#person .container-fluid div.row .VueCarousel-dot-container button.VueCarousel-dot--active {
  outline: none !important;
  background-color: #29d9d5 !important;
}

/* End Section Person */
/* Persons */
#persons {
  text-align: center;
  margin-top: 1rem;
}

#persons div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#persons div.row div.elements {
  margin-bottom: 1rem;
}

#persons div.row div.elements div.first {
  overflow: hidden;
  background-size: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#persons div.row div.elements div.first img {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#persons div.row div.elements div.first:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#persons div.row div.elements div.second {
  background-color: #212529;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: .3rem;
  padding-top: .3rem;
}

#persons div.row div.elements div.second a {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  padding-bottom: .3rem;
  padding-top: .3rem;
  font-weight: bolder;
}

#persons div.row div.elements div.second a:hover {
  color: #29d9d5;
}

#persons div.row nav {
  margin-top: 1rem;
  color: red !important;
}

#persons div.row nav li.disabled {
  opacity: 0.6;
  background-color: transparent;
}

#persons div.row nav li a {
  color: white;
  background-color: transparent;
}

#persons div.row nav li a:hover {
  background-color: #212529;
}

#persons div.row nav li a.selected {
  background-color: #29d9d5;
}

/* End Section Persons */
@media (min-width: 1400px) {
  #movie #banner {
    min-height: 550px;
  }
  #movie #banner div#background {
    min-height: 550px;
  }
  #movie #banner > .row img {
    max-height: 500px;
  }
  #person .container-fluid div.row div#colLeft img {
    max-height: 450px;
  }
}
/*# sourceMappingURL=style.css.map */