*{
    text-decoration: none !important;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none !important;
    border: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
$white: rgb(250, 250, 250);
$lightBlue: rgb(12, 204, 218);
$darkBlue: rgb(19, 15, 64);
$border: 1px solid rgba(44, 44, 44, 0.192);
$boxShadow: 5px 4px 6px -1px rgba(1, 2, 2, 0.24);
$borderRadius: 5px;
/* ---------- End Variables ---------- */



/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: $lightBlue;
    border-radius: 10px;
}
/* ---------- End Scrollbar ---------- */

/* ---------- Navbar ---------- */
#sectionNavbar{
   background-color: $darkBlue;
   display: flex;
   align-items: center;
   padding-top: 1rem;
   padding-bottom: 1rem;

   nav {
    height: 100%;
    display: flex;
    align-items: center;
        button{
            border-color: $white !important;

            i{
                color: $white !important;

            }
        }
    }

    #navbarDropdown{
        nav {
            padding-left: 0 !important;
        }
    }

   #mark{
       color: $white;
       font-weight: bold;
       font-size: 2em;
   }

   a{
       color: $white;

       &:hover{
        color: $lightBlue;
       }
   }
}
/* ---------- End Navbar ---------- */

/* ---------- Creative Section ---------- */
    #creativeSection{
        .row {
            >div{
                display: flex;
                align-items: center;
            }

            img{
                max-width: 100%;
                height: auto;
            }

            h1{
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.5em;
            }

            button{
                padding: 0.7rem 1.5rem;
                background-color: $darkBlue;
                color: white;
                border-radius: 5px;
                display: block;
                cursor: pointer;
                margin-top: 0.5rem;

                &:hover{
                    background-color: $lightBlue;
                }
            }
        }

    }
/* ---------- End Creative Section ---------- */

/* ---------- Services Section ---------- */
    #servicesSection{
        margin-top: 2.5rem;

        >.row{
            display: flex;
            justify-content: center;

            div.elements{
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;

                div{
                    box-shadow: $boxShadow;
                    border: $border;
                    border-radius: $borderRadius;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }

            div{
                text-align: center;
            }
    
            h1{
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.5em;
            }
    
            img{
                max-width: 100%;
                max-height: 300px;
            }
    
            h5{
                color: $darkBlue;
                font-weight: bold;
                font-size: 1.3rem;
            }
    
            button{
                padding: 0.7rem 1.5rem;
                background-color: $darkBlue;
                color: white;
                border-radius: $borderRadius;
                display: block;
                cursor: pointer;
                margin: 0.5rem auto;

                &:hover{
                    background-color: $lightBlue;
                }
            }
        }
    }
/* ---------- End Services Section ---------- */

/* ---------- About Section ---------- */
#aboutSection{
    margin-top: 1.5rem;
    >.row{
        display: flex;
        justify-content: center;

        div#title{
            text-align: center;
        }

        div#aboutContent{
            display: flex; 
            align-items: center;
        }

        div{
            h1{
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.5em;
            }

            img{
                max-width: 100%;
                height: auto;
            }

            h5{
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.3em;
                line-height: 2.5rem;
            }

            span{
                margin-bottom: 1rem;
                display: block;
                font-size: 0.9rem;
                opacity: 0.8;   
            }

            button{
                padding: 0.7rem 1.5rem;
                background-color: $darkBlue;
                color: white;
                border-radius: $borderRadius;
                display: block;
                cursor: pointer;
                margin-top: 0.5rem;

                &:hover{
                    background-color: $lightBlue;
                }
            }
        }
    }
}
/* ---------- End About Section ---------- */

/* ---------- Plans Section ---------- */
#plansSection{
    margin-top: 1.5rem;
    >.row{
        display: flex;
        justify-content: center;

        div{
            text-align: center;
            margin-bottom: 0.5rem;

            h1{
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.5rem;
            }

            img{
                max-width: 100%;
                max-height: 300px;
            }
        }

        .elements{
            div{
                box-shadow: $boxShadow;
                border: $border;
                border-radius: $borderRadius;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            button{
                padding: 0.7rem 1.0rem;
                background-color: $darkBlue;
                color: white;
                border-radius: $borderRadius;
                display: block;
                cursor: pointer;
                margin-top: 0.5rem;
                margin-left: auto;
                margin-right: auto;

                &:hover{
                    background-color: $lightBlue;
                }
            }

            h4{
                color: $darkBlue;
                font-size: 1.5rem;
                font-weight: bold;
            }

            h5{
                color: $darkBlue;
                font-size: 1.5rem;
            }

            span {
                font-weight: bold;
                font-size: 3.5rem;
            }

            ul {
                li{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    color:  $darkBlue;
                    font-size: 1.05em;
                    font-weight: 500;
                    opacity: 0.8;
                }
            }
        }

        
    }
}
/* ---------- End Plans Section ---------- */

/* ---------- Clients Section ---------- */
#clientsSection{
    margin-top: 1rem;
    >.row{
        display: flex;
        justify-content: center;

        div.content > div{
            box-shadow: $boxShadow;
            border: $border;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: $borderRadius;
            margin-bottom: 1rem;
        }

        div.content > div:hover{
            border: 1px solid $lightBlue;
            box-shadow: 5px 4px 6px -1px rgba(17, 130, 138, 0.425);
        }

        div{
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;

            h1{
                color: $darkBlue;
                font-size: 2.5rem;
                font-weight: bold;
            }

            img{
                border-radius: 50%;
                max-width: 100%;
                height: 100px;
            }

            h4{
                font-weight: bold;
                color: $darkBlue;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            span{
                margin-bottom: 1rem;
                display: block;
                font-size: 1rem;
                opacity: 0.9;   
            }

            i{
                color: $lightBlue;
            }
        }

    }
}
/* ---------- End Clients Section ---------- */

/* ---------- Clients Section ---------- */
#contactSection{
    margin-top: 1rem;
    >.row{
        display: flex;
        justify-content: center;
        
        #content{
            display: flex;
            align-items: center;
        }

        #content div{
            border: $border;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            width: 100%;
            padding: 1rem 1rem 0.5rem 1rem;
        }

        div{
            text-align: center;
            
            h1{
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.5rem;
            }

            img{
                max-width: 100%;
                height: auto;
            }

            h4{
                color: $darkBlue;
                font-weight: bold;
                font-size: 1.8rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            input, textarea{
                border: $border;
                border-radius: $borderRadius;
                padding: 0.7rem 1rem;
                width: 100%;
                color: rgb(110, 103, 103);
                margin-top: 0.7rem;
                font-size: 0.9rem;
            }

            input:hover, textarea:hover{
                border: 1px solid $lightBlue;
            }

            button{
                padding: 0.7rem 1rem;
                background-color: $darkBlue;
                color: white;
                border-radius: $borderRadius;
                display: block;
                cursor: pointer;
                margin: 0.5rem auto 0.5rem auto;
                font-weight: 500;

                &:hover{
                    background-color: $lightBlue;
                }
            }


        }
    }
}
/* ---------- End Clients Section ---------- */

/* ---------- Footer ---------- */
#footer{
    margin-top: 3rem;

    >.row{
        div{
            display: flex;
            justify-content: center;
            a{
                font-size: 2rem;
                color: $darkBlue !important;
                margin: 0.5rem;

                &:hover{
                    color: $lightBlue !important;
                }
            }

            h5{
                color: $darkBlue !important;
            }
        }
        
    }
}
/* ---------- End Footer ---------- */


@media (max-width: 400px) { 
    html{
        font-size: 65%;
    }
}

@media (min-width: 576px) { 

 }

@media (min-width: 768px) { 
    #plansSection{
        >.row{
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            div{
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
    }
 }

@media (min-width: 992px) { 
    #sectionNavbar{
        #navbarDropdown{
            display: none;
        }

        a{
            font-size: 1.1em;
            font-weight: 500;
        }
    }

    #creativeSection{
        font-size: 1.2rem;
    }

    #aboutSection{
        >.row{
            h5{
                line-height: 3rem !important;
            }
            span{
                font-size: 0.95rem !important;
            }

            button{
                font-size: 1.1rem;
            }
        }
    }
 }

@media (min-width: 1200px) { 
    #servicesSection{
        margin-top: 1rem;

        >.row{
            h5{
                font-size: 1.5rem;
            }
        }
    }

    #aboutSection{
        >.row{
            h5{
                font-size: 2.7rem !important;
            }
            
        }
    }
 }