*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
$yellow: rgb(234, 207, 79);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(170, 170, 170);
/* ---------- End Variables ---------- */

body{
    background: url('../images/background.jpg') ;
}

header, section{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: $yellow;
    width: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-track{
    background-color: $black;
    width: 8px;
}

@keyframes myFrameFromLeft {
    50%{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes myFrameFromRight {
    25%{
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    50%{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75%{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    100%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.animatedLeft{
    animation-name: myFrameFromLeft;
    animation-duration: 0.2s;
}

.animatedRight{
    animation-name: myFrameFromRight;
    animation-duration: 0.2s;
}

/* Header */
header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    
    div.row{
        display: flex;
        align-items: center;
        height: 100%;

        div{
            display: flex;
            justify-content: end;

            img{
                height: auto;
                max-width: 100%;
                cursor: pointer;
            } 
            
            i{
                cursor: pointer;
                color: $white;
                margin-left: .9rem;
                font-size: 1.4rem;

                &:hover{
                    color: $yellow;
                }
            }
        }

        div#firstDiv{
            display: flex;
            justify-content: center;
        }

        div#divInput{
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            padding-top: 1rem;
            margin-top: 1.5rem;
            order: 3;
            display: flex;
            align-items: center;
            justify-content: left !important;

            input{
                width: 70%;
                background-color: $black;
                color: $white;
                padding: .7rem .5rem;
            }

            i{
                margin-left: auto !important;
            }
        }
    }

    #navbar{
        background-color: $black;
        ul{
            li{
                a{
                    color: $white;
                    font-weight: 400;
                    font-size: 1.1rem;

                    &:hover{
                        color: $yellow;
                        border-bottom: 1px solid $yellow;
                    }
                }
            }
        }
    }
}
/* End Header */

/* Home */
#home{
    background: url('../images/home-bg.png') no-repeat center;
    background-size: cover;
    
    >.row{
        display: flex;
        justify-content: center;

        div{
            text-align: center;
            
            img{
                max-width: 100%;
                max-height: 450px;
            }

            h3{
                color: $white;
                display: block;
                font-weight: bold;
            }

            span{
                color: $gray;
                margin-left: auto;
                margin-right: auto;
                display: block;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            button{
                border: 1px solid rgba(255, 255, 255,0.6);
                cursor: pointer;
                background: none;
                color: $white;
                margin-top: .5rem;
                font-size: 1.3rem;
                padding: .5rem .7rem;
                -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);

                a{
                    color: $white;
                }

                &:hover{
                    background-color: $white;
                        a{
                            color: $black;
                        }
                }
            }
        }        

        div.divMoreInfo{
            margin-top: 7.5rem;

            div{
                
                background-color: $yellow;
                display: inline;
                padding: 1.2rem;
                border-radius: 50%;
                i{
                    color: $black;
                    font-size: 1.5rem;
                }
            }
            
            span{
                display: block;
                width: 100%;

                h5{
                    color: $white;
                    margin-top: 1.7rem;
                }
            }
        }
    }
}
/* End Home */

/* Menu */
#menu{
    margin-top: 2.5rem;
    padding-top: 5rem;
    text-align: center;
    color: $white;
    >.row{
        display: flex;
        justify-content: center;

        h3{
            font-size: 2.2rem;
        }

        img{
            height: auto;
            max-height: 270px;
            max-width: 100%;
        }

        div.divHamburguers{
            margin-top: .7rem;
            margin-bottom: .7rem;
            &:hover > img{
                transform: translateY(0.5rem);
            }

            span{
                display: block;
                margin-top: .5rem;
                p{
                    color: $gray;
                    font-size: 1.3rem;
                }
    
                i{
                    color: $yellow;
                }
    
                h5{
                    color: $white;
                }
            }   

            button{
                border: 1px solid rgba(255, 255, 255,0.6);
                cursor: pointer;
                background: none;
                color: $white;
                margin-top: .5rem;
                font-size: 1.3rem;
                padding: .5rem .7rem;
                -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);

                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }
}
/* End Menu */

/* About */
#about{
    margin-top: 2.5rem;
    padding-top: 5rem;
    color: $white;

    >.row{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;

        img{
            max-width: 100%;
            height: auto;
        }

        h3{
            font-size: 1.8rem;
        }

        span{
            color: $gray;
            display: block;
            font-size: 0.9rem;
        }

        p{
            padding-right: 1.5rem;
            display: inline-block;
            margin-top: 1rem;
            font-size: 0.9rem;
            font-weight: bold;
            i{
                color: $yellow;
            }
        }

        button{
            border: 1px solid rgba(255, 255, 255,0.6);
            cursor: pointer;
            background: none;
            display: block;
            margin-top: .5rem;
            font-size: 1.3rem;
            padding: .5rem .7rem;
            -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
            box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);

            a{
                color: $white;
            }

            &:hover{
                background-color: $white;
                a{
                    color: $black;
                }
            }
        }
    }
}
/* End About */

/* Reviews */
#reviews{
    margin-top: 2.5rem;
    padding-top: 5rem;
    text-align: center;
    color: $white;
    >.row{
        display: flex;
        justify-content: center;

        div.elements{
            margin-top: 1.7rem;
            margin-bottom: 1.7rem;
            img{
                height: 100px;
                border-radius: 50%;
            }

            h5{
                margin-top: .5rem;
                margin-bottom: .5rem;
            }

            span{
                display: block;
                color: $gray;
                margin-bottom: .5rem;
                font-weight: lighter;
            }

            i{
                color: $yellow;
            }
        }

        h3{
            font-size: 2.2rem;
        }

        img{
            height: auto;
            max-height: 270px;
            max-width: 100%;
        }
    }
}
/* End Reviews */

/* Contact */
#contact{
    margin-top: 2.5rem;
    padding-top: 5rem;
    text-align: center;
    color: $white;

    >.row{
        display: flex;
        justify-content: center;
    }

    h3{
        font-size: 2.2rem;
    }

    div.rowContent{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        div.elements{
        
            >div{
                display: flex;
                justify-content: center;
                padding-left: 15px;
                padding-right: 15px;
            }
            input, textarea{
                background: none;
                display: block;
                color: $gray;
                padding: .7rem .5rem;
                margin-top: 0.7rem;
                width: 100%;
                -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
            }

            span{
                font-size: 0.7rem !important;
            }

            div{
                margin-top: 1rem;
                i{
                    color: $black;
                    background-color: $yellow;
                    padding: 1rem;
                    border-radius: 50%;
                }
        
                h5{
                    margin-top: .7rem;
                }

                span{
                    color: $gray;
                    display: block;
                }
            }
            button{
                border: 1px solid rgba(255, 255, 255,0.6);
                cursor: pointer;
                background: none;
                display: block;
                font-size: 1.3rem;
                padding: .5rem .7rem;
                -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                color: $white;
                margin: 1rem auto;

                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }
}
/* End Contact */

/* Blog */
#blog{
    margin-top: 2.5rem;
    padding-top: 5rem;
    color: $white;

    >.row{
        display: flex;
        justify-content: center;

        img{
            max-width: 100%;
            height: auto;
        }

        div.elements{
            margin-top: 2.5rem;
            text-align: center;

            div.content{
                h3{
                    margin-top: 1rem;
                }

                span{
                    color: $gray;
                    font-weight: lighter;
                    font-size: 1.2rem;
                }

                button{
                    cursor: pointer;
                    border: 1px solid rgba(255, 255, 255,0.6);
                    background: none;
                    display: block;
                    font-size: 1.3rem;
                    padding: .5rem 1.5rem;
                    -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                    box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);
                    color: $white;
                    margin: 1rem auto;
    
                    &:hover{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
            

            div.absolute{
                overflow: hidden;

                img{
                    max-width: 100%;
                    height: auto;
                    transition: 0.4s all;
                    -webkit-transform: scale(1.1);	
                    -moz-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
                
                div{
                    display: flex; 
                    align-items: center;
                    position: relative;
                   
                    span{
                        background-color: $black;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: none;
                        //display: flex;
                        padding-top: 1.5rem;
                        padding-bottom: 1.5rem;
                        font-size: 1.3rem;
                        p{
                            display: inline;
                            padding-left: 15px;
                            padding-right: 15px;
                            margin-top: auto;
                            margin-bottom: auto;
                            padding-top: 0 !important;
                            padding-bottom: 0 !important;
                            i{
                                margin-right: .1rem;
                                color: $yellow;
                            }
                        }
                    }
                }
            }

            &:hover{
                div.absolute{
                    div{
                        span{
                            display: flex;
                        }
                    }
    
                    img{
                        -webkit-transform: scale(1.2);	
                        -moz-transform: scale(1.2);
                        -o-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
/* End Blog */

/* Footer */
footer{
    ul{
        li{
            margin: 0.75rem 0.1rem;
        }
    }
}
/* End Footer */

@media (max-width: 280px) { 
    html{
        font-size: 65%;
    }
}

@media (min-width: 576px) { 
    #contact div.rowContent div.elements div{
        span{
            font-size: 1rem !important;
        }
    }
}

@media (min-width: 768px) { 

}

@media (max-width: 992px) { 
    header{
        div#firstDiv{
            i{
                display: none;
            }
        }
        #navbar{
            background-color: $black;
            width: 100%;
            display: none;
            
            img{
                display: none !important;
            }
    
            ul{
                margin-top: 1.5rem;

                li{
                    margin-top: .5rem;
                    margin-left: 1rem;
                    
                    a{
                        color: $white;
                        font-weight: 400;
                        font-size: 1.1rem;
    
                        &:hover{
                            color: $yellow;
                            border-bottom: 1px solid $yellow;
                        }
                    }
                }
            }
        }
    }

    footer{
        margin-top: 7rem;
    
        nav{
            height: 150px;
    
            ul {
                display: flex !important;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                li{
                    display: inline;
                    //margin: 5px;
                    padding-left: 0;
                    background: none;
    
                    a{
                        color: $white;
                        border: 1px solid rgba(255, 255, 255,0.6);
                        padding: 0.2rem 1.5rem 0.4rem 1.5rem;
                        font-size: 1.5rem;
                        font-weight: lighter;
                        line-height: 1.5rem !important;
    
                        &:hover{
                            background-color: $white;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
    
}

@media (min-width: 992px) { 
    header{
        display: flex;
        align-items: center;

        div.row div{
            justify-content: center;

            .fas.fa-bars{
                display: none;
            }
        }
    
        #divIcons{
            order: 2;
        }

        #firstDiv{
            img{
                display: none;
            }

            .fas.fa-search{
                display: block;
            }
        }

        div#divIcons{
            .fas.fa-search{
                display: none;
            }
        }
    
        #navbar{
            background-color: $black;
            order: 1;
            display: flex !important;
            align-items: center;
            justify-content: center;
            ul{
                margin-bottom: 0;

                li{
                    margin-left: 1rem;
                    display: inline;
                    a{
                        color: $white;
                        font-weight: lighter;
                        font-size: 1.2rem;
    
                        &:hover{
                            color: $yellow;
                            border-bottom: 1px solid $yellow;
                        }
                    }

                    a#aWithImg{
                        border: none;
                    }
                }
            }
        }
    }

    #home{
        >.row{
            div{
                img{
                    max-height: 720px !important;
                }

                span{
                    width: 70%;
                }
            }        
        }
    }

    #about{
        span{
            font-size: 1rem !important;
        }

        p{
            font-size: 1rem !important;
        }   
    }

    footer{
        margin-top: 7rem;
    
        nav{
            height: 50px;
            display: flex;
            justify-content: center;

            ul {
                display: inline !important;
                text-align: center;
                li{
                    display: inline;
                    flex: 1 0 30%;
                    margin: 10px;
                    padding-left: 0;
                    background: none;
    
                    a{
                        color: $white;
                        border: 3px solid rgba(255, 255, 255,0.6);
                        font-size: 1.5rem;
                        font-weight: lighter;
                        padding: 0.2rem 1.5rem 0.4rem 1.5rem;
    
                        &:hover{
                            background-color: $white;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) { 
    header{
        ul{
            li{
                a{
                    font-weight: lighter !important;
                    font-size: 1.4rem !important;
                }
            }
        }
    }

    #home{
        >.row{
            div{
                span{
                    width: 40%;
                }
            }        
        }
    }

    #about{
        p{
            font-size: 1.10rem !important;
        }
    }
}




