* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
body {
  background: url("../images/background.jpg");
}

header, section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #eacf4f;
  width: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: black;
  width: 8px;
}

@-webkit-keyframes myFrameFromLeft {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes myFrameFromLeft {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes myFrameFromRight {
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes myFrameFromRight {
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.animatedLeft {
  -webkit-animation-name: myFrameFromLeft;
          animation-name: myFrameFromLeft;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.animatedRight {
  -webkit-animation-name: myFrameFromRight;
          animation-name: myFrameFromRight;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

/* Header */
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header div.row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header div.row div img {
  height: auto;
  max-width: 100%;
  cursor: pointer;
}

header div.row div i {
  cursor: pointer;
  color: white;
  margin-left: .9rem;
  font-size: 1.4rem;
}

header div.row div i:hover {
  color: #eacf4f;
}

header div.row div#firstDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div.row div#divInput {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
  margin-top: 1.5rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

header div.row div#divInput input {
  width: 70%;
  background-color: black;
  color: white;
  padding: .7rem .5rem;
}

header div.row div#divInput i {
  margin-left: auto !important;
}

header #navbar {
  background-color: black;
}

header #navbar ul li a {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
}

header #navbar ul li a:hover {
  color: #eacf4f;
  border-bottom: 1px solid #eacf4f;
}

/* End Header */
/* Home */
#home {
  background: url("../images/home-bg.png") no-repeat center;
  background-size: cover;
}

#home > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home > .row div {
  text-align: center;
}

#home > .row div img {
  max-width: 100%;
  max-height: 450px;
}

#home > .row div h3 {
  color: white;
  display: block;
  font-weight: bold;
}

#home > .row div span {
  color: #aaaaaa;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
}

#home > .row div button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background: none;
  color: white;
  margin-top: .5rem;
  font-size: 1.3rem;
  padding: .5rem .7rem;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
}

#home > .row div button a {
  color: white;
}

#home > .row div button:hover {
  background-color: white;
}

#home > .row div button:hover a {
  color: black;
}

#home > .row div.divMoreInfo {
  margin-top: 7.5rem;
}

#home > .row div.divMoreInfo div {
  background-color: #eacf4f;
  display: inline;
  padding: 1.2rem;
  border-radius: 50%;
}

#home > .row div.divMoreInfo div i {
  color: black;
  font-size: 1.5rem;
}

#home > .row div.divMoreInfo span {
  display: block;
  width: 100%;
}

#home > .row div.divMoreInfo span h5 {
  color: white;
  margin-top: 1.7rem;
}

/* End Home */
/* Menu */
#menu {
  margin-top: 2.5rem;
  padding-top: 5rem;
  text-align: center;
  color: white;
}

#menu > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu > .row h3 {
  font-size: 2.2rem;
}

#menu > .row img {
  height: auto;
  max-height: 270px;
  max-width: 100%;
}

#menu > .row div.divHamburguers {
  margin-top: .7rem;
  margin-bottom: .7rem;
}

#menu > .row div.divHamburguers:hover > img {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

#menu > .row div.divHamburguers span {
  display: block;
  margin-top: .5rem;
}

#menu > .row div.divHamburguers span p {
  color: #aaaaaa;
  font-size: 1.3rem;
}

#menu > .row div.divHamburguers span i {
  color: #eacf4f;
}

#menu > .row div.divHamburguers span h5 {
  color: white;
}

#menu > .row div.divHamburguers button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background: none;
  color: white;
  margin-top: .5rem;
  font-size: 1.3rem;
  padding: .5rem .7rem;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
}

#menu > .row div.divHamburguers button:hover {
  background-color: white;
  color: black;
}

/* End Menu */
/* About */
#about {
  margin-top: 2.5rem;
  padding-top: 5rem;
  color: white;
}

#about > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#about > .row img {
  max-width: 100%;
  height: auto;
}

#about > .row h3 {
  font-size: 1.8rem;
}

#about > .row span {
  color: #aaaaaa;
  display: block;
  font-size: 0.9rem;
}

#about > .row p {
  padding-right: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

#about > .row p i {
  color: #eacf4f;
}

#about > .row button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background: none;
  display: block;
  margin-top: .5rem;
  font-size: 1.3rem;
  padding: .5rem .7rem;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
}

#about > .row button a {
  color: white;
}

#about > .row button:hover {
  background-color: white;
}

#about > .row button:hover a {
  color: black;
}

/* End About */
/* Reviews */
#reviews {
  margin-top: 2.5rem;
  padding-top: 5rem;
  text-align: center;
  color: white;
}

#reviews > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reviews > .row div.elements {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

#reviews > .row div.elements img {
  height: 100px;
  border-radius: 50%;
}

#reviews > .row div.elements h5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#reviews > .row div.elements span {
  display: block;
  color: #aaaaaa;
  margin-bottom: .5rem;
  font-weight: lighter;
}

#reviews > .row div.elements i {
  color: #eacf4f;
}

#reviews > .row h3 {
  font-size: 2.2rem;
}

#reviews > .row img {
  height: auto;
  max-height: 270px;
  max-width: 100%;
}

/* End Reviews */
/* Contact */
#contact {
  margin-top: 2.5rem;
  padding-top: 5rem;
  text-align: center;
  color: white;
}

#contact > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact h3 {
  font-size: 2.2rem;
}

#contact div.rowContent {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact div.rowContent div.elements > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

#contact div.rowContent div.elements input, #contact div.rowContent div.elements textarea {
  background: none;
  display: block;
  color: #aaaaaa;
  padding: .7rem .5rem;
  margin-top: 0.7rem;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
}

#contact div.rowContent div.elements span {
  font-size: 0.7rem !important;
}

#contact div.rowContent div.elements div {
  margin-top: 1rem;
}

#contact div.rowContent div.elements div i {
  color: black;
  background-color: #eacf4f;
  padding: 1rem;
  border-radius: 50%;
}

#contact div.rowContent div.elements div h5 {
  margin-top: .7rem;
}

#contact div.rowContent div.elements div span {
  color: #aaaaaa;
  display: block;
}

#contact div.rowContent div.elements button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background: none;
  display: block;
  font-size: 1.3rem;
  padding: .5rem .7rem;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  color: white;
  margin: 1rem auto;
}

#contact div.rowContent div.elements button:hover {
  background-color: white;
  color: black;
}

/* End Contact */
/* Blog */
#blog {
  margin-top: 2.5rem;
  padding-top: 5rem;
  color: white;
}

#blog > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog > .row img {
  max-width: 100%;
  height: auto;
}

#blog > .row div.elements {
  margin-top: 2.5rem;
  text-align: center;
}

#blog > .row div.elements div.content h3 {
  margin-top: 1rem;
}

#blog > .row div.elements div.content span {
  color: #aaaaaa;
  font-weight: lighter;
  font-size: 1.2rem;
}

#blog > .row div.elements div.content button {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  display: block;
  font-size: 1.3rem;
  padding: .5rem 1.5rem;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
  color: white;
  margin: 1rem auto;
}

#blog > .row div.elements div.content button:hover {
  background-color: white;
  color: black;
}

#blog > .row div.elements div.absolute {
  overflow: hidden;
}

#blog > .row div.elements div.absolute img {
  max-width: 100%;
  height: auto;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#blog > .row div.elements div.absolute div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#blog > .row div.elements div.absolute div span {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;
}

#blog > .row div.elements div.absolute div span p {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#blog > .row div.elements div.absolute div span p i {
  margin-right: .1rem;
  color: #eacf4f;
}

#blog > .row div.elements:hover div.absolute div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog > .row div.elements:hover div.absolute img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* End Blog */
/* Footer */
footer ul li {
  margin: 0.75rem 0.1rem;
}

/* End Footer */
@media (max-width: 280px) {
  html {
    font-size: 65%;
  }
}

@media (min-width: 576px) {
  #contact div.rowContent div.elements div span {
    font-size: 1rem !important;
  }
}

@media (max-width: 992px) {
  header div#firstDiv i {
    display: none;
  }
  header #navbar {
    background-color: black;
    width: 100%;
    display: none;
  }
  header #navbar img {
    display: none !important;
  }
  header #navbar ul {
    margin-top: 1.5rem;
  }
  header #navbar ul li {
    margin-top: .5rem;
    margin-left: 1rem;
  }
  header #navbar ul li a {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
  }
  header #navbar ul li a:hover {
    color: #eacf4f;
    border-bottom: 1px solid #eacf4f;
  }
  footer {
    margin-top: 7rem;
  }
  footer nav {
    height: 150px;
  }
  footer nav ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer nav ul li {
    display: inline;
    padding-left: 0;
    background: none;
  }
  footer nav ul li a {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 0.2rem 1.5rem 0.4rem 1.5rem;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.5rem !important;
  }
  footer nav ul li a:hover {
    background-color: white;
    color: black;
  }
}

@media (min-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div.row div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header div.row div .fas.fa-bars {
    display: none;
  }
  header #divIcons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header #firstDiv img {
    display: none;
  }
  header #firstDiv .fas.fa-search {
    display: block;
  }
  header div#divIcons .fas.fa-search {
    display: none;
  }
  header #navbar {
    background-color: black;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header #navbar ul {
    margin-bottom: 0;
  }
  header #navbar ul li {
    margin-left: 1rem;
    display: inline;
  }
  header #navbar ul li a {
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
  }
  header #navbar ul li a:hover {
    color: #eacf4f;
    border-bottom: 1px solid #eacf4f;
  }
  header #navbar ul li a#aWithImg {
    border: none;
  }
  #home > .row div img {
    max-height: 720px !important;
  }
  #home > .row div span {
    width: 70%;
  }
  #about span {
    font-size: 1rem !important;
  }
  #about p {
    font-size: 1rem !important;
  }
  footer {
    margin-top: 7rem;
  }
  footer nav {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer nav ul {
    display: inline !important;
    text-align: center;
  }
  footer nav ul li {
    display: inline;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
    margin: 10px;
    padding-left: 0;
    background: none;
  }
  footer nav ul li a {
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0.2rem 1.5rem 0.4rem 1.5rem;
  }
  footer nav ul li a:hover {
    background-color: white;
    color: black;
  }
}

@media (min-width: 1200px) {
  header ul li a {
    font-weight: lighter !important;
    font-size: 1.4rem !important;
  }
  #home > .row div span {
    width: 40%;
  }
  #about p {
    font-size: 1.10rem !important;
  }
}
/*# sourceMappingURL=style.css.map */