@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=PT+Serif&display=swap');

/* Variables */
$blue: #2196f3;
$green: #06AA48;
/* End Variables */

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}
/* ---------- End Scrollbar ---------- */

/* App.vue */
#divImage{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    span{
        display: block;
        font-size: 1.5rem;
    }
}
/* End App.vue */

/* Navigation-drawer */
.theme--light .v-list .v-list-item--active .v-icon {
    color: rgba(0, 0, 0, 0.54) !important;
}

.v-list-item--link:before{
    background-color: transparent !important;
}
/* End Navigation-drawer*/


div#content{
    height: 100%;
}

.container--fluid{
    padding: 0 !important;
}

.v-sheet.v-card:not(.v-sheet--outlined){
    box-shadow: none !important;
}

.v-application--wrap{
    min-height: calc(100vh - 56px) !important;
}

#content .container.container--fluid {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100%;
}

/* containerInício */
#containerInício{
    >.row{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    h3 {
        span.cursor {
          display: inline-block;
          margin-left: 3px;
          width: 4px;
          animation: cursorBlink 1s infinite;
        }

        span.cursor.typing {
          animation: none;
        }
    }

    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: .3rem;
    }

    span#name{
        font-weight: bold;
    }

    @keyframes cursorBlink {
        49% { background-color: #fff; }
        50% { background-color: transparent; }
        99% { background-color: transparent; }
    }
}
/* End containerInício */

/* Contato */
#containerContato{
    >.row{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    form > div{
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    h3{
        margin-bottom: 1rem;
    }
}
/* End Contato */

/* Sobre */
#containerSobre{
    >.row{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;

        #elements{
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            >div{
                text-align: left;
                margin-left: 1rem;
                margin-right: 1rem;
                width: 50%;

                >div{
                    padding-bottom: .5rem;
                    padding-top: .5rem;
                }
            }

            p{
                margin-bottom: .3rem !important;
            }
        }
        

        h3, h4{
            margin-top: 1rem;
        }

        span{
            display: block;

            >a{
                text-decoration: none;
                text-align: center !important;
                margin-left: auto;
            }
        }
    }
}
/* End Sobre */

/* Alter Theme*/
.theme--dark{
    #content {
        #containerInício{
            span#name{
                color: $blue !important;
            }

            h3 {
                span.typed-text {
                  color: $blue;
                }

                span.cursor {
                    background-color:white;
                }
            }
        }

        #containerContato{
            .v-label.v-label--active-theme--dark.primary--text{
                color: white !important;
            }
        }
    }
}

.theme--light{
    #content {
        #containerInício{
            button{
                background-color: $green !important;
            }
            span#name{
                color: $green !important;
            }

            h3 {
                span.typed-text {
                  color: $green;
                }

                span.cursor {
                    background-color:black;
                }
            }

            svg.primary--text{
                color: $green !important;
                caret-color: $green !important; 
            }
        }

        #containerSobre{
            .v-progress-linear__background.primary.accent-4{
                background-color: $green !important;
                border-color: $green !important;
            }

            div.v-progress-linear__determinate.primary.accent-4{
                background-color: $green !important;
                border-color: $green !important;
            }

            svg.primary--text{
                color: $green !important;
                caret-color: $green !important;
            }

            a{
                color: $green !important;
            }
        }

        
        #containerContato{
            .v-label.v-label--active-theme--dark.primary--text{
                color: white !important;
            }

            .primary--text{
                color: $green !important;
            }

        }
    }
}
/* End Alter Theme */



@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}
