@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=PT+Serif&display=swap");
/* Variables */
/* End Variables */
/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-track {
  background-color: #1E1E1E;
}

/* ---------- End Scrollbar ---------- */
/* App.vue */
#divImage {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#divImage img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#divImage span {
  display: block;
  font-size: 1.5rem;
}

/* End App.vue */
/* Navigation-drawer */
.theme--light .v-list .v-list-item--active .v-icon {
  color: rgba(0, 0, 0, 0.54) !important;
}

.v-list-item--link:before {
  background-color: transparent !important;
}

/* End Navigation-drawer*/
div#content {
  height: 100%;
}

.container--fluid {
  padding: 0 !important;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.v-application--wrap {
  min-height: calc(100vh - 56px) !important;
}

#content .container.container--fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100%;
}

/* containerInício */
#containerInício > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

#containerInício h3 span.cursor {
  display: inline-block;
  margin-left: 3px;
  width: 4px;
  -webkit-animation: cursorBlink 1s infinite;
          animation: cursorBlink 1s infinite;
}

#containerInício h3 span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

#containerInício button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .3rem;
}

#containerInício span#name {
  font-weight: bold;
}

@-webkit-keyframes cursorBlink {
  49% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}

@keyframes cursorBlink {
  49% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}

/* End containerInício */
/* Contato */
#containerContato > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#containerContato form > div {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

#containerContato h3 {
  margin-bottom: 1rem;
}

/* End Contato */
/* Sobre */
#containerSobre > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

#containerSobre > .row #elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

#containerSobre > .row #elements > div {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
}

#containerSobre > .row #elements > div > div {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

#containerSobre > .row #elements p {
  margin-bottom: .3rem !important;
}

#containerSobre > .row h3, #containerSobre > .row h4 {
  margin-top: 1rem;
}

#containerSobre > .row span {
  display: block;
}

#containerSobre > .row span > a {
  text-decoration: none;
  text-align: center !important;
  margin-left: auto;
}

/* End Sobre */
/* Alter Theme*/
.theme--dark #content #containerInício span#name {
  color: #2196f3 !important;
}

.theme--dark #content #containerInício h3 span.typed-text {
  color: #2196f3;
}

.theme--dark #content #containerInício h3 span.cursor {
  background-color: white;
}

.theme--dark #content #containerContato .v-label.v-label--active-theme--dark.primary--text {
  color: white !important;
}

.theme--light #content #containerInício button {
  background-color: #06AA48 !important;
}

.theme--light #content #containerInício span#name {
  color: #06AA48 !important;
}

.theme--light #content #containerInício h3 span.typed-text {
  color: #06AA48;
}

.theme--light #content #containerInício h3 span.cursor {
  background-color: black;
}

.theme--light #content #containerInício svg.primary--text {
  color: #06AA48 !important;
  caret-color: #06AA48 !important;
}

.theme--light #content #containerSobre .v-progress-linear__background.primary.accent-4 {
  background-color: #06AA48 !important;
  border-color: #06AA48 !important;
}

.theme--light #content #containerSobre div.v-progress-linear__determinate.primary.accent-4 {
  background-color: #06AA48 !important;
  border-color: #06AA48 !important;
}

.theme--light #content #containerSobre svg.primary--text {
  color: #06AA48 !important;
  caret-color: #06AA48 !important;
}

.theme--light #content #containerSobre a {
  color: #06AA48 !important;
}

.theme--light #content #containerContato .v-label.v-label--active-theme--dark.primary--text {
  color: white !important;
}

.theme--light #content #containerContato .primary--text {
  color: #06AA48 !important;
}

/* End Alter Theme */
/*# sourceMappingURL=style.css.map */