.container--fluid{
    padding: 0 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=PT+Serif&display=swap');

body{
    
}

#divImage{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    span{
        display: block;
        font-size: 1.5rem;
    }
}


/* Index.vue */
body{
    color: white !important;
}
/* Index.vue */
