*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
$white: rgb(255, 255, 255);
$darkBlue: #2273F8;
/* ---------- End Variables ---------- */

/* ---------- Navbar ---------- */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $darkBlue;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    padding-top: .5rem;

    #myNavBarRow {
        #myNavBarTitleLeft {
            color: $white;
            display: flex;
            align-items: center;
        }

        .navbar-toggler{
            color: $white;
            border: 1px solid $white;
        }

        li {
            padding-left: .3rem;
            padding-right: .3rem;

            a{
                color: $white;
                padding: 0 .5rem;
                border-bottom: 2px solid $darkBlue;

                &:hover{
                    border-bottom: 2px solid $white;
                }
            }            
        }

        .active{
            border-bottom: 2px solid $white;
        }
    }
}
/* ---------- End Navbar ---------- */

/* ---------- Home ---------- */
#home {
    background: url(../img/homg-img.png) no-repeat;
    background-repeat: no-repeat;
    background-size: 140% 85%;
    background-position: top center;
    min-height: 90vh;

    >.row{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    h1 {
        color: $white;
    }

    span {
        display: block;
        color: $white;
    }

    button {
        cursor: pointer;
        border-radius: 1rem;
        font-size: 1.1rem;
        background: $white;
        padding: .5rem 2rem;
        margin-top: .7rem;

        &:hover {
            background-color: black;
            color: $white;
        }
    }
}
/* ---------- End Home ---------- */

/* ---------- About ---------- */
#about {
    margin-top: 5rem;
    >.row {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color: rgb(11, 11, 11);

        >div{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
        }

        h2, p{
            color: $white;
        }

        span {
            display: block;

            p {
                display: inline;
            }

            i{
                color: $darkBlue;
            }
        }

        a{
            color: $darkBlue;

            button {
                cursor: pointer;
                border-radius: 1rem;
                font-size: 1.1rem;
                background: $white;
                padding: .5rem 2rem;
                margin-top: .7rem;
                color: $darkBlue;
    
                &:hover {
                    color: $white;
                    background-color: $darkBlue;
                }
            }
        }

        
    }
}
/* ---------- End About ---------- */

/* ---------- Resources ---------- */
#resources {
    min-height: calc(90vh - 5rem);
    margin-top: 5rem;
    >.row {
        display: flex;
        justify-content: center;
        
        .texts {
            text-align: center;

            h3 {
                color: $darkBlue;
            }

            h4 {
                font-family: 'Segoe UI', 'Open Sans', sans-serif;
            }

            hr {
                background-color: $darkBlue;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }

            span {
                text-align: center;
                color: rgb(158, 158, 158);
            }
        }
    }

    .elements{
        min-height: calc(90vh - 6rem);
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        text-align: center;
        margin-top: 3rem;

        >div{
            margin-bottom: 3rem;

            span{
                color: rgb(128, 128, 128);
                font-size: 0.9rem;
            }
        }

        div.subElements{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            border: .5rem solid rgba(233, 227, 227, 0.856);
            background-color: $darkBlue;
            height: 6rem;
            width: 6rem;
            transform: rotate(45deg);
            font-size: 2rem;
            margin-bottom: 3rem;

            i{
                color: $white;
                transform: rotate(315deg);
            }
        }
    }
}
/* ---------- End Resources ---------- */

/* ---------- Products ---------- */
#products {
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;

    >.row{
        padding-bottom: 1rem;
        padding-top: 1rem;
        div.elements >div {
            margin-top: 1rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            -webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.78); 
            box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.78);

            button {
                cursor: pointer;
                color: $white;
                background-color: $darkBlue;

                &:hover {
                    background-color: black;
                }
            }
        }
        
        .texts {
            text-align: center;

            h3 {
                color: $darkBlue;
            }
        }
    }
}
/* ---------- End Products ---------- */

/* ---------- Contact ---------- */
#contact {
    background-color: rgb(32, 29, 29);
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;

    div#subMain{
        width: 100%;
    }

    .row{
        display: flex;
        justify-content: center;
        margin-left: auto;
    }
    
    h3 {
        padding: .5rem .7rem;
        background-color: rgb(17, 15, 15);
        color: $white;
        display: inline-block;
    }

    input{
        border: 2px solid $white;
        color: $white;
        background: none;
        padding: .5rem .7rem;
        display: block;
        min-width: 100%;
        margin-top: .7rem;
    }

    input:focus{
        border: 2px solid $darkBlue;
    }

    textarea{
        color: $white;
        min-width: 100%;
        margin-top: .7rem;
        padding: .5rem .7rem;
        border: 2px solid $white;
        background: none;
    }

    textarea:focus{
        border: 2px solid $darkBlue;
    }

    button{
        border: 1px solid black;
        cursor: pointer;
        color: $white;
        background-color: $darkBlue;
        padding: .7rem 1.2rem;
        border-radius: 16px;

        &:hover {
            color: white;
            border: 1px solid $white;
            background-color: black;
        }
    }
}
/* ---------- End Contact ---------- */

/* ---------- FAQ ---------- */
#FAQ {
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    padding-bottom: 2rem;
    padding-top: 2rem;

    >.row{
        >div.texts{
            text-align: center;
    
            h3 {
                color: $darkBlue;
            }
        
            h4{
                font-weight: 600;
            }
        }
    }

    div.elements{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* ---------- End FAQ ---------- */

/* ---------- Footer ---------- */

footer {
    background-color: rgb(238, 238, 238);
    text-align: center;

    >.row{
        display: flex;
        justify-content: center;
    }

    h4, i {
        margin-top: 1rem;
        color: $darkBlue;
    }

    div#links{
        text-align: center;
    }

    a{
        font-size: 1.1rem;
        color: #212529;
        display: block;

        &:hover{

            color: $darkBlue;
        }
    }

    span{
        display: block;
        margin-bottom: 0.5rem;
    }

    div#final{
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        margin-top: 1rem;
        background-color: #212529;
        padding-bottom: .7rem;
        padding-top: .7rem;

        h3 {
            color: $white;
        }
    }
}
/* ---------- End Footer ---------- */


@media (max-width: 400px) {
    *{
        font-size: 0.9rem;

        i{
            font-size: 2rem;
        }
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    hr{
        width: 25% !important;
    }
}

@media (min-width: 1200px) {
    #navbar{
        font-size: 1.25rem;
    }

    #home {
        font-size: 1.2rem;
        justify-content: left;

        >.row{
            text-align: left;
        }
    }

}