* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
/* ---------- Navbar ---------- */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #2273F8;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
header #myNavBarRow #myNavBarTitleLeft {
  color: white;
  display: flex;
  align-items: center;
}
header #myNavBarRow .navbar-toggler {
  color: white;
  border: 1px solid white;
}
header #myNavBarRow li {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
header #myNavBarRow li a {
  color: white;
  padding: 0 0.5rem;
  border-bottom: 2px solid #2273F8;
}
header #myNavBarRow li a:hover {
  border-bottom: 2px solid white;
}
header #myNavBarRow .active {
  border-bottom: 2px solid white;
}

/* ---------- End Navbar ---------- */
/* ---------- Home ---------- */
#home {
  background: url(../img/homg-img.png) no-repeat;
  background-repeat: no-repeat;
  background-size: 140% 85%;
  background-position: top center;
  min-height: 90vh;
}
#home > .row {
  display: flex;
  justify-content: center;
  text-align: center;
}
#home h1 {
  color: white;
}
#home span {
  display: block;
  color: white;
}
#home button {
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.1rem;
  background: white;
  padding: 0.5rem 2rem;
  margin-top: 0.7rem;
}
#home button:hover {
  background-color: black;
  color: white;
}

/* ---------- End Home ---------- */
/* ---------- About ---------- */
#about {
  margin-top: 5rem;
}
#about > .row {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #0b0b0b;
}
#about > .row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
#about > .row h2, #about > .row p {
  color: white;
}
#about > .row span {
  display: block;
}
#about > .row span p {
  display: inline;
}
#about > .row span i {
  color: #2273F8;
}
#about > .row a {
  color: #2273F8;
}
#about > .row a button {
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.1rem;
  background: white;
  padding: 0.5rem 2rem;
  margin-top: 0.7rem;
  color: #2273F8;
}
#about > .row a button:hover {
  color: white;
  background-color: #2273F8;
}

/* ---------- End About ---------- */
/* ---------- Resources ---------- */
#resources {
  min-height: 100vh;
  margin-top: 5rem;
}
#resources > .row {
  display: flex;
  justify-content: center;
}
#resources > .row #title {
  text-align: center;
}
#resources > .row #title h3 {
  color: #2273F8;
}
#resources > .row #title hr {
  color: #2273F8;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/* ---------- End Resources ---------- */
@media (min-width: 1200px) {
  #navbar {
    font-size: 1.25rem;
  }

  #home {
    font-size: 1.2rem;
    justify-content: left;
  }
  #home > .row {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */