*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
$white: rgb(255, 255, 255);
$darkBlue: #2273F8;
/* ---------- End Variables ---------- */

html, body {
}

/* ---------- Navbar ---------- */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 10vh;
    background-color: $darkBlue;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: .5rem;
    padding-top: .5rem;

    #myNavBarRow {
        #myNavBarTitleLeft {
            color: $white;
            display: flex;
            align-items: center;
        }

        .navbar-toggler{
            color: $white;
            border: 1px solid $white;
        }

        li {
            padding-left: .3rem;
            padding-right: .3rem;

            a{
                color: $white;
                padding: 0 .5rem;
                border-bottom: 2px solid $darkBlue;

                &:hover{
                    border-bottom: 2px solid $white;
                }
            }            
        }

        .active{
            border-bottom: 2px solid $white;
        }
    }
}
/* ---------- End Navbar ---------- */

/* ---------- Home ---------- */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/homg-img.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;

    >.row{
        background-color: #2273F8;
    }

    h3 {
        font-weight: 600;
        color: $white;
    }

    span {
        display: block;
        color: $white;
    }

    button {
        cursor: pointer;
        border-radius: 1rem;
        font-size: 1.1rem;
        background: $white;
        padding: .5rem 1.5rem;
        margin-top: .7rem;

        &:hover {
            background-color: black;
            color: $white;
        }
    }
}
/* ---------- End Home ---------- */


@media (min-width: 576px) {
    
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    #navbar{
        font-size: 1.25rem;
    }
}