* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

* section, * footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
/* ---------- Scrollbar ---------- */
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #ff046f;
}

/* ---------- End Scrollbar ---------- */
body {
  background: #ca59ed !important;
}

/* ---------- Navbar ---------- */
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  padding: .5rem 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

#navbar button {
  font-size: 1.5rem;
  color: #ff046f !important;
}

#navbar button:hover {
  color: #d162fb !important;
}

#navbar a {
  margin-right: auto;
  font-size: 1.35rem;
}

#navbar a i {
  color: #ff046f;
}

#navbar a span {
  font-weight: 600;
  color: #ff046f;
}

#navbar a:hover i {
  color: #d162fb;
}

#navbar a:hover span {
  color: #d162fb;
}

#navbar ul li a {
  font-weight: 400;
  font-size: 1.3rem;
  color: #ff046f;
}

#navbar ul li a:hover {
  color: #d162fb;
}

#navbar .navbar-toggler {
  color: black;
  border: none !important;
}

/* ---------- ../Navbar ---------- */
/* ---------- Home ---------- */
#home {
  z-index: 50;
  border: 1px solid #d162fb;
  min-height: 90vh;
  padding-bottom: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 59, 250, 0.8)), to(rgba(198, 59, 250, 0.8))), url("../img/home.jpg");
  background: linear-gradient(rgba(198, 59, 250, 0.8), rgba(198, 59, 250, 0.8)), url("../img/home.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#home .row h1, #home .row h6 {
  color: #ffffff;
}

#home .row button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff046f;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 8rem;
}

#home .row button a {
  color: #ffffff;
}

#home .row button:hover {
  letter-spacing: 1.01px;
  background-color: #ffffff;
}

#home .row button:hover a {
  color: #ff046f;
}

#home div.row#main {
  margin-top: 5rem;
}

#home div.row#main div.elements {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  padding: 1rem 3rem;
  border-radius: 8px;
}

#home div.row#main div.elements h5 {
  margin-top: 1rem;
  color: #ff046f;
}

#home div.row#main div.elements i {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #d162fb;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

#home div.row#main div.elements span {
  opacity: 0.8;
  font-size: 0.9rem;
}

#home div.row#main div.elements:hover i {
  background-color: #ff046f;
}

#home div.row#main div.elements:hover h5 {
  color: #d162fb;
}

/* ---------- ../Home ---------- */
/* ---------- Sobre ---------- */
#sobre {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#sobre div.row#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#sobre div.row#main h1 {
  font-weight: 600;
  color: #ff046f;
  margin: 1rem 0 0 0;
}

#sobre div.row#main h5 {
  opacity: 0.8;
  margin-bottom: 1rem;
}

#sobre div.row {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sobre div.row h2 {
  font-weight: 600;
  color: #ff046f;
}

#sobre div.row button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff046f;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 8rem;
  margin-top: 1rem;
  display: block;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
}

#sobre div.row button a {
  color: #ffffff;
}

#sobre div.row button:hover {
  letter-spacing: 1.01px;
  background-color: #d162fb;
}

#sobre div.row button:hover a {
  color: #ff046f;
}

/* ---------- ../Sobre ---------- */
/* ---------- Professores ---------- */
#professores {
  background-color: #f9f9f9;
  text-align: center;
  min-height: 90vh;
  padding-bottom: 5rem;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#professores div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#professores div.row h1 {
  font-weight: 600;
  color: #ff046f;
  margin: 1rem 0 0 0;
}

#professores div.row h5 {
  opacity: 0.8;
  margin-bottom: 1rem;
}

#professores div.row div.elements {
  margin-top: 1rem;
}

#professores div.row div.elements > div {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

#professores div.row div.elements > div h5 {
  margin-top: 0.5rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #ff046f !important;
}

#professores div.row div.elements > div h6 {
  opacity: 0.8;
}

#professores div.row div.elements > div img {
  height: 250px;
}

#professores div.row div.elements > div a {
  font-size: 1.3rem;
  color: #ff046f;
}

#professores div.row div.elements > div a:hover {
  color: #d162fb;
}

/* ---------- ../Professores ---------- */
/* ---------- Cursos ---------- */
#cursos {
  background-color: #ffffff;
  text-align: center;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cursos div.row#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#cursos div.row#main h1 {
  font-weight: 600;
  color: #ff046f;
  margin: 1rem 0 0 0;
}

#cursos div.row#main h5 {
  opacity: 0.8;
  margin-bottom: 1rem;
}

#cursos div.row {
  margin-top: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cursos div.row div.elements {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

#cursos div.row div.elements > div {
  -webkit-box-shadow: 2px 2px 0px 2px #d162fb;
  box-shadow: 2px 2px 0px 2px #d162fb;
  border-radius: 5px;
  border: 1px solid #d162fb;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#cursos div.row div.elements > div div.divForIcon {
  margin-top: -5rem;
  display: inline-block;
}

#cursos div.row div.elements > div div.divForIcon i {
  color: #ffffff;
  background-color: #ff046f;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50% !important;
  width: 3rem;
}

#cursos div.row div.elements > div h5 {
  margin-top: .5rem;
  color: #d162fb;
}

#cursos div.row div.elements > div span {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ---------- ../Cursos ---------- */
/* ---------- Contato ---------- */
#contato {
  background-color: #333;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#contato div.row#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#contato div.row#main h1 {
  font-weight: 600;
  color: #ff046f;
  margin: 1rem 0 0 0;
}

#contato div.row#main h5 {
  color: #f9f9f9;
  opacity: 0.8;
  margin-bottom: 1rem;
}

#contato div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contato div.row input, #contato div.row textarea {
  font-size: 1.05rem;
  display: block;
  width: 100%;
  color: #ff046f;
  border: 2px solid #333;
  padding: .5rem .7rem;
  border-radius: 16px;
  margin-top: .5rem;
}

#contato div.row input:focus, #contato div.row textarea:focus {
  border: 2px solid #ff046f;
}

#contato div.row button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff046f;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 8rem;
  margin-top: 1rem;
  display: block;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
}

#contato div.row button:hover {
  background-color: #ffffff;
  color: #ff046f !important;
}

/* ---------- ../Contato ---------- */
/* ---------- Footer ---------- */
#footer {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#footer i {
  border: 1px solid #d162fb;
  color: #d162fb;
  background-color: transparent;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50% !important;
  width: 3rem;
}

#footer i:hover {
  color: #ffffff;
  background-color: #d162fb;
}

/* ---------- ../Footer ---------- */
@media (max-width: 400px) {
  body {
    font-size: 1rem !important;
  }
  #navbar {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1rem;
  }
  #home button {
    font-size: 1.1rem !important;
  }
  #sobre h2 {
    font-size: 1.2rem;
  }
  #sobre h5 {
    font-size: 1rem;
  }
  #sobre span {
    font-size: 0.9rem;
  }
  #sobre button {
    font-size: 1.1rem !important;
  }
  #contato button {
    font-size: 1.1rem !important;
  }
  #footer div.row > div {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */