* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

* section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #ff046f;
}

/* ---------- End Scrollbar ---------- */
body {
  background: #ca59ed !important;
  z-index: 99999;
}

/* ---------- Navbar ---------- */
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  padding: .5rem 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

#navbar button {
  font-size: 1.5rem;
  color: #ff046f !important;
}

#navbar button:hover {
  color: #d162fb !important;
}

#navbar a {
  margin-right: auto;
  font-size: 1.35rem;
}

#navbar a i {
  color: #ff046f;
}

#navbar a span {
  font-weight: 600;
  color: #ff046f;
}

#navbar a:hover i {
  color: #d162fb;
}

#navbar a:hover span {
  color: #d162fb;
}

#navbar ul li a {
  font-weight: 400;
  font-size: 1.3rem;
  color: #ff046f;
}

#navbar ul li a:hover {
  color: #d162fb;
}

#navbar .navbar-toggler {
  color: black;
  border: none !important;
}

#navbar .btn-outline-dark {
  border: none !important;
}

#navbar .btn-outline-dark:hover {
  color: #0eb582;
  background: none !important;
}

/* ---------- ../Navbar ---------- */
/* ---------- Home ---------- */
#home {
  z-index: 50;
  border: 1px solid #d162fb;
  min-height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 59, 250, 0.8)), to(rgba(198, 59, 250, 0.8))), url("../img/home.jpg");
  background: linear-gradient(rgba(198, 59, 250, 0.8), rgba(198, 59, 250, 0.8)), url("../img/home.jpg");
  background-size: cover;
}

#home > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#home > .row h1, #home > .row h6 {
  color: #ffffff;
}

#home > .row button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff046f;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 8rem;
}

#home > .row button a {
  color: #ffffff;
}

#home > .row button:hover {
  letter-spacing: 1.01px;
  background-color: #ffffff;
}

#home > .row button:hover a {
  color: #ff046f;
}

#home div.row#main {
  margin-top: 5rem;
}

#home div.row#main div.elements {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  padding: 1rem 3rem;
  border-radius: 8px;
}

#home div.row#main div.elements h5 {
  margin-top: 1rem;
  color: #ff046f;
}

#home div.row#main div.elements i {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #d162fb;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

#home div.row#main div.elements span {
  opacity: 0.8;
  font-size: 0.9rem;
}

#home div.row#main div.elements:hover i {
  background-color: #ff046f;
}

#home div.row#main div.elements:hover h5 {
  color: #d162fb;
}

/* ---------- ../Home ---------- */
/*# sourceMappingURL=style.css.map */