*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;

    section, footer{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;   
    }
}

/* ---------- Variables ---------- */
$lightBlue: rgb(12, 204, 218);

$white: #ffffff;
$pink: rgb(209, 98, 251);
$pinkDark: rgb(255, 4, 111);
$boxShadow: inset 5em 1em rgb(198, 59, 250); 
$gray: rgb(249, 249, 249);
$black: #333;
/* ---------- End Variables ---------- */

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: $lightBlue;
    border-radius: 10px;
}
/* ---------- End Scrollbar ---------- */

body{
    background: rgb(202, 89, 237) !important;
}

/* ---------- Navbar ---------- */
#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41); 
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);
    padding: .5rem 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;

    button{
        font-size: 1.5rem;
        color: $pinkDark !important;

        &:hover{
            color: $pink !important;
        }
    }
    
    a {
        margin-right: auto;
        font-size: 1.35rem;

        i {
            color: $pinkDark;
        }

        span {
            font-weight: 600;
            color: $pinkDark;
        }

        &:hover{
            i{
                color: $pink;
            }

            span{
                color: $pink;
            }
        }
    }

    ul {
        li {
            a {
                font-weight: 400;
                font-size: 1.3rem;
                color: $pinkDark;

                &:hover {
                    color: $pink;
                }
            }
        }
    }

    .navbar-toggler {
        color: black;
        border: none !important;
    }
}
/* ---------- ../Navbar ---------- */

/* ---------- Home ---------- */
#home{
    z-index: 50;
    border: 1px solid $pink;
    min-height: 90vh;
    padding-bottom: 3rem;
    background: linear-gradient(rgba(198, 59, 250,.8),rgba(198, 59, 250,.8)),
    url('../img/home.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    .row{
        display: flex;
        justify-content: center;
        text-align: center;

        h1, h6{
            color: $white;
        }

        button{
            cursor: pointer;
            color: $white;
            background-color: $pinkDark;
            font-size: 1.3rem;
            padding: .5rem 1rem;
            border-radius: 8rem;

            a{
                color: $white;
            }

            &:hover{
                letter-spacing: 1.01px;
                background-color: $white;

                a{
                    color: $pinkDark;
                }
            }
        }
    }

    div.row#main{
        margin-top: 5rem;

        div.elements{
            margin-top: 1rem;
            cursor: pointer;
            background-color: $white;
            -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41); 
            box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);
            padding: 1rem 3rem;
            border-radius: 8px;

            h5{
                margin-top: 1rem;
                color: $pinkDark;
            }
            i{
                font-size: 1.5rem;
                color: $white;
                background-color: $pink;
                height: 3rem;
                line-height: 3rem;
                width: 3rem;
                border-radius: 50%;
            }
            span{
                opacity: 0.8;
                font-size: 0.9rem;
            }

            &:hover{
                i{
                    background-color: $pinkDark;
                }

                h5{
                    color: $pink;
                }
            }
        }
    }
}
/* ---------- ../Home ---------- */

/* ---------- Sobre ---------- */
#sobre{
    background-color: $white;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
   
    div.row#main{
        display: flex;
        justify-content: center;
        text-align: center;

        h1{
            font-weight: 600;
            color: $pinkDark;
            margin: 1rem 0 0 0;
        }

        h5{
            opacity: 0.8;
            margin-bottom: 1rem;
        }
    }

    div.row{
        text-align: justify;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-weight: 600;
            color: $pinkDark;
        }

        button{
            cursor: pointer;
            color: $white;
            background-color: $pinkDark;
            font-size: 1.3rem;
            padding: .5rem 1rem;
            border-radius: 8rem;
            margin-top: 1rem;
            display: block;
            -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41); 
            box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);
            a{
                color: $white;
            }

            &:hover{
                letter-spacing: 1.01px;
                background-color: $pink;

                a{
                    color: $pinkDark;
                }
            }
        }
    }
}
/* ---------- ../Sobre ---------- */

/* ---------- Professores ---------- */
#professores{
    background-color: $gray;
    text-align: center;
    min-height: 90vh;
    padding-bottom: 5rem;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    div.row{
        display: flex;
        justify-content: center;
        text-align: center;

        h1{
            font-weight: 600;
            color: $pinkDark;
            margin: 1rem 0 0 0;
        }

        h5{
            opacity: 0.8;
            margin-bottom: 1rem;
        }

        div.elements{
            margin-top: 1rem;

            >div{
                background-color: $white;
                -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41); 
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                h5{
                    margin-top: 0.5rem;
                    font-weight: bold;
                    margin-bottom: 0;
                    color: $pinkDark !important;
                }
    
                h6{
                    opacity: 0.8;
                }
    
                img{
                    height: 250px;
                }
    
                a{
                    font-size: 1.3rem;
                    color: $pinkDark;
    
                    &:hover{
                        color: $pink;
                    }
                }
            }
        }
    }
}
/* ---------- ../Professores ---------- */

/* ---------- Cursos ---------- */
#cursos{
    background-color: $white;
    text-align: center;
    min-height: 90vh;
    display: flex;
    align-items: center;

    div.row#main{
        display: flex;
        justify-content: center;
        text-align: center;

        h1{
            font-weight: 600;
            color: $pinkDark;
            margin: 1rem 0 0 0;
        }

        h5{
            opacity: 0.8;
            margin-bottom: 1rem;
        }
    }

    div.row{
        margin-top: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        div.elements{
            margin-top: 1.8rem;
            margin-bottom: 1.8rem;

            >div{
                -webkit-box-shadow: 2px 2px 0px 2px $pink; 
                box-shadow: 2px 2px 0px 2px $pink; 
                border-radius: 5px;
                border: 1px solid $pink;
                padding-bottom: .5rem;
                padding-left: 1rem;
                padding-right: 1rem;

                div.divForIcon{
                    margin-top: -5rem;
                    display: inline-block;

                    i{
                        color: $white;
                        background-color: $pinkDark;
                        font-size: 2rem;
                        height: 3rem;
                        line-height: 3rem;
                        border-radius: 50% !important;
                        width: 3rem;
                    }
                }
    
                h5{
                    margin-top: .5rem;
                    color: $pink;
                }
    
                span{
                    font-size: 0.9rem;
                    opacity: 0.8;
                }
            }
        }
    }
}
/* ---------- ../Cursos ---------- */

/* ---------- Contato ---------- */
#contato{
    background-color: $black;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
   
    div.row#main{
        display: flex;
        justify-content: center;
        text-align: center;

        h1{
            font-weight: 600;
            color: $pinkDark;
            margin: 1rem 0 0 0;
        }

        h5{
            color: $gray;
            opacity: 0.8;
            margin-bottom: 1rem;
        }
    }

    div.row{
        display: flex;
        justify-content: center;
        align-items: center;

        input, textarea{
            font-size: 1.05rem;
            display: block;
            width: 100%;
            color: $pinkDark;
            border: 2px solid $black;
            padding: .5rem .7rem;
            border-radius: 16px;
            margin-top: .5rem;
        }

        input:focus, textarea:focus {
            border: 2px solid $pinkDark;
        }

        button{
            cursor: pointer;
            color: $white;
            background-color: $pinkDark;
            font-size: 1.3rem;
            padding: .5rem 1rem;
            border-radius: 8rem;
            margin-top: 1rem;
            display: block;
            -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41); 
            box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);

            &:hover{
                background-color: $white;
                color: $pinkDark !important;
            }
        }
    }
}
/* ---------- ../Contato ---------- */

/* ---------- Footer ---------- */
#footer{
    text-align: center;
    background-color: $white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    
        i{
            border: 1px solid $pink;
            color: $pink;
            background-color: transparent;
            font-size: 1.5rem;
            height: 3rem;
            line-height: 3rem;
            border-radius: 50% !important;
            width: 3rem;

            &:hover{
                color: $white;
                background-color: $pink;
            }
        }
}
/* ---------- ../Footer ---------- */

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}
