*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */

/* ---------- End Variables ---------- */

@media (max-width: 575.98px) { 
     
}

@media (max-width: 767.98px) { 

}

@media (max-width: 991.98px) { 

}

@media (max-width: 1199.98px) { 

}
