* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00B8B8;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
  width: 8px;
}

body, html {
  height: 100%;
}

/* ---------- Nav ---------- */
nav {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e8eb !important;
  font-size: 1.2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

nav > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

nav ul, nav button {
  margin-left: auto;
  margin-right: auto;
}

nav button.navbar-toggler {
  background-color: #e7e8eb !important;
}

nav a span {
  color: #00B8B8;
}

nav a:hover {
  color: #00B8B8 !important;
}

/* ---------- End Nav ---------- */
/* ---------- Home ---------- */
#home {
  background: url("../img/home-bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home > .row h1 {
  font-weight: 600;
}

/* ---------- End Home ---------- */
/* ---------- About ---------- */
#about > .row {
  padding-bottom: 3rem;
  padding-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about img {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#about h3 {
  color: #00B8B8;
}

#about h5 {
  font-weight: bold;
}

#about p {
  color: #66676a;
  text-align: justify;
  font-size: 0.9rem;
}

/* ---------- End About ---------- */
/* ---------- Services ---------- */
#services {
  min-height: 100vh;
  background-color: #e7e8eb;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#services h1 {
  font-weight: bold;
  text-transform: uppercase;
}

#services .elements {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-radius: 8px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
  -webkit-box-shadow: 3px 5px 11px -2px rgba(0, 0, 0, 0.71);
  box-shadow: 3px 5px 11px -2px rgba(0, 0, 0, 0.71);
}

#services .elements img {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

#services .elements p {
  font-size: 0.9rem;
  color: #66676a;
}

/* ---------- End Services ---------- */
/* ---------- Process ---------- */
#process {
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

#process > .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#process .elements {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-radius: 8px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #00B8B8;
}

#process .elements h5 {
  color: white;
}

#process .elements img {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

#process .elements p {
  font-size: 0.9rem;
  color: white;
}

/* ---------- End Process ---------- */
/* ---------- Reviews ---------- */
#reviews {
  background-color: #e7e8eb;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reviews > div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reviews .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#reviews .elements {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-radius: 8px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
}

#reviews .elements img {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-radius: 50%;
  height: 7rem;
}

#reviews .elements > div {
  background-color: #e7e8eb;
  padding: .3rem 1rem;
  border-radius: 8px;
  display: inline;
}

#reviews .elements i {
  color: #00B8B8;
}

#reviews .elements p {
  font-size: 0.9rem;
  color: #66676a;
}

#reviews .elements h5 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

/* ---------- End Reviews ---------- */
/* ---------- Contact ---------- */
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

#contact > div {
  width: 100%;
}

#contact .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#contact #form {
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #e7e8eb;
}

/* ---------- End Contact ---------- */
/* ---------- Footer ---------- */
#footer {
  min-height: 10vh;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e7e8eb;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#footer > .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer h4 {
  color: #00B8B8;
}

#footer .elements {
  text-align: center;
}

#footer .elements > div button {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-radius: 50%;
}

/* ---------- End Footer ---------- */
@media (min-width: 768px) {
  #services .elements {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  #process .elements {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  #reviews .elements {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */