*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
$gray: rgb(231, 232, 235);
$grayDark: rgb(102, 103, 106);
$blue: #00B8B8;
/* ---------- End Variables ---------- */

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: $blue;
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: white;
    width: 8px;
}

body, html{
    height: 100%;
}

/* ---------- Nav ---------- */
nav {
    position: sticky !important;
    top: 0;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background-color: $gray !important;
    font-size: 1.2rem;
    padding-left: 0 !important;
    padding-right: 0 !important;

    >.row{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    ul, button{
        margin-left: auto;
        margin-right: auto;
    }

    button.navbar-toggler{
        background-color: $gray !important;
    }

    a{
        span{
            color: $blue;
        }

        &:hover{
            color: $blue !important;
        }
    }
}
/* ---------- End Nav ---------- */


/* ---------- Home ---------- */
#home{
    background: url('../img/home-bg.jpg') no-repeat  center;
    text-align: center;
    min-height: 92vh;
    display: flex;
    align-items: center;
    >.row{
        display: flex;
        h1 {
            font-weight: 600;
        }
    }
}
/* ---------- End Home ---------- */

/* ---------- About ---------- */
#about{
    >.row{
        padding-bottom: 3rem;
        padding-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    img {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    h3{
        color: $blue;
    }

    h5{
        font-weight: bold;
    }

    p{
        color: $grayDark;
        text-align: justify;
        font-size: 0.9rem;
    }
}
/* ---------- End About ---------- */

/* ---------- Services ---------- */
#services{
    min-height: 92vh;
    background-color: $gray;
    padding-bottom: 1rem;
    padding-top: 1rem;

    >.row{
        justify-content: center;
        text-align: center;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
    }

    .elements{
        margin-bottom: .5rem;
        margin-top: .5rem;
        border-radius: 8px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: white;
        -webkit-box-shadow: 3px 5px 11px -2px rgba(0,0,0,0.71); 
        box-shadow: 3px 5px 11px -2px rgba(0,0,0,0.71);
        img {
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
        p{
            font-size: 0.9rem;
            color: $grayDark;
        }
    }
}
/* ---------- End Services ---------- */

/* ---------- Process ---------- */
#process{
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    >.row{
        justify-content: center;
        text-align: center;
    }

    .elements{
        margin-bottom: .5rem;
        margin-top: .5rem;
        border-radius: 8px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: $blue;

        h5{
            color: white;
        }

        img {
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
        p{
            font-size: 0.9rem;
            color: white;
        }
    }
}
/* ---------- End Process ---------- */

/* ---------- Reviews ---------- */
#reviews{
    min-height: 92vh;
    background-color: $gray;
    padding-bottom: 1rem;
    padding-top: 1rem;

    >.row{
        justify-content: center;
        text-align: center;
    }

    .elements{
        margin-bottom: .5rem;
        margin-top: .5rem;
        border-radius: 8px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: white;

        img {
            margin-bottom: .5rem;
            margin-top: .5rem;
            border-radius: 50%;
            height: 7rem;
        }

        >div{
            background-color: $gray;
            padding: .3rem 1rem;
            border-radius: 8px;
            display: inline;
        }

        i {
            color: $blue;
        }

        p{
            font-size: 0.9rem;
            color: $grayDark;
        }
        h5 {
            font-weight: 600;
            letter-spacing: 0.1rem;
            margin-top: 1rem;
        }
    }
}
/* ---------- End Reviews ---------- */

/* ---------- Contact ---------- */
#contact{
    min-height: 92vh;
    >.row{
        justify-content: center;
        text-align: center;
    }

    #form{
        border-radius: 8px;
        padding: 1.5rem;
        background-color: $gray;
    }
}
/* ---------- End Contact ---------- */

/* ---------- Footer ---------- */
#footer{
    min-height: 10vh;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
    >.row{
        justify-content: center;
    }

    h4 {
        color: $blue;
    }
    .elements {
        text-align: center;
        >div{
            button {
                margin-bottom: .5rem;
                margin-top: .5rem;
                border-radius: 50%;
            }
        }
    }
}
/* ---------- End Footer ---------- */
@media (max-width: 350px) { 
   
}

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    #services{
        .elements{
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
    #process{
        .elements{
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
    
    #reviews{
        .elements{
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
}

@media (min-width: 992px) { 
    
    
}

@media (min-width: 1200px) { 
    
}

    
