*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ---------- Variables ---------- */
$HTML5: #DD4B25;
$CSS3: #3595CF;
$Bootstrap: #6A37B2;
$JavaScript: #EFD81D;
$TypeScript: #2F74C0;
$SQLServer: #006EC2;
$MySQL: #47809D;
$NodeJS: #74AC5F;
$VueJS: #3FB27F;
$CSharp: #642075;
$Sass: #C76494;
$Git: #E84D31;
$API: #FF9210;
$EJS: #4CAF50;
$Express: #394671;
$BulmaCSS: #69F0AE;
$VueRouter: #4CAF50;
$Vuetify: #64B5F6;
$Stylus: #7CB333;
/* ---------- End Variables ---------- */

.v-container {
  padding: 12px !important;
}

html {
  scroll-behavior: smooth !important;
}

.v-btn--icon.v-btn--density-default {
  width: 36px !important;
  height: 36px !important;
}

/* Start Style ScroolBar */
    // Specific to Webkit browsers such as Chrome, Safari and new versions of Microsoft Edge.
    body.darkScrollbar::-webkit-scrollbar {
      height: 1rem;
      width: 0.9rem;
    }

    body.darkScrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(217,217,227,0.2);
      border-color: rgba(255,255,255, 0.29);
      border-radius: 9999px;
      border-width: 1px;
    }

    body.darkScrollbar::-webkit-scrollbar-track {
      background-color: black;
    }

    // Specific to Firefox
    body.darkScrollbar {
      scrollbar-width: thin;
      scrollbar-color: rgba(217,217,227,0.2) black  ;
    }

    // Specific to Internet Explorer
    body.darkScrollbar {
      scrollbar-face-color: rgba(217,217,227,0.2);
      scrollbar-track-color: black;
      scrollbar-shadow-color: black;
      scrollbar-highlight-color: black;
      scrollbar-3dlight-color: black;
      scrollbar-darkshadow-color: black;
      scrollbar-arrow-color: rgba(217,217,227,0.2);
    }
/* End Style ScroolBar */

.v-application .v-list  a {
  padding-left: 0 !important;
}

.v-application .v-theme--dark.v-list a {
  color: #FFFFFF !important;
}

.v-application .v-theme--light.v-list a {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-theme--dark span.swiper-pagination-bullet {
  background-color: white !important;
}

.v-theme--dark .swiper-button-prev:after{
  color: white !important;
}
.v-theme--dark .swiper-button-next:after{
  color: white !important;
}

.mySwiper {
 // min-height: 520px;
  border-radius: 8px !important;

  .swiper-slide{
    min-height: 520px;
  }

  .swiper-wrapper{
    min-height: 520px;
    border-radius: 8px !important;
  }

  img{
    border-radius: 8px !important;
  }
}

.swiper-carousel .swiper-slide {
  border-radius: 8px !important;
}

#skills{
  .HTML5 {
    color: $HTML5;
  }
  
  .CSS3 {
    color: $CSS3;
  }
  
  .Bootstrap {
    color: $Bootstrap;
  }
  
  .JavaScript {
    color: $JavaScript;
  }
  
  .TypeScript {
    color: $TypeScript;
  }
  
  .SQLServer {
    color: $SQLServer;
  }
  
  .MySQL {
    color: $MySQL;
  }
  
  .NodeJS {
    color: $NodeJS;
  }
  
  .VueJS {
    color: $VueJS;
  }
  
  .CSharp {
    color: $CSharp;
  }
  
  .Sass {
    color: $Sass;
  }
  
  .Git {
    color: $Git;
  }
  
  .API {
    color: $API;
  }
  
  .EJS {
    color: $EJS;
  }
  
  .Express {
    color: $Express;
  }
  
  .BulmaCSS {
    color: $BulmaCSS;
  }
  
  .VueRouter {
    color: $VueRouter;
  }
  
  .Vuetify {
    color: $Vuetify;
  }
  
  .Stylus {
    color: $Stylus;
  }
}

#projects{
  .HTML5 {
    i {
      color: $HTML5;
    }
  }
  
  .CSS3 {
    i {
      color: $CSS3;
    }
  }
  
  .Bootstrap {
    i {
      color: $Bootstrap;
    }
  }
  
  .JavaScript {
    i {
      color: $JavaScript;
    }
  }
  
  .TypeScript {
    i {
      color: $TypeScript;
    }
  }
  
  .SQLServer {
    i {
      color: $SQLServer;
    }
  }
  
  .MySQL {
    i {
      color: $MySQL;
    }
  }
  
  .NodeJS {
    i {
      color: $NodeJS;
    }
  }
  
  .VueJS {
    i {
      color: $VueJS;
    }
  }
  
  .CSharp {
    i {
      color: $CSharp;
    }
  }
  
  .Sass {
    i {
      color: $Sass;
    }
  }
  
  .Git {
    i {
      color: $Git;
    }
  }
  
  .API {
    i {
      color: $API;
    }
  }
  
  .EJS {
    i {
      color: $EJS;
    }
  }
  
  .Express {
    i {
      color: $Express;
    }
  }
  
  .BulmaCSS {
    i {
      color: $BulmaCSS;
    }
  }
  
  .VueRouter {
    i {
      color: $VueRouter;
    }
  }
  
  .Vuetify {
    i {
      color: $Vuetify;
    }
  }
  
  .Stylus {
    i {
      color: $Stylus;
    }
  }
}

#Footer{
  .github {
    i {
      color: #6A37B2;
    }
  }

  .linkedin {
    i {
      color: #0077B5;
    }
  }

  .email {
    i {
      color: #F7BB4E;
    }
  }
}

@media (max-width: 620px) { 
  .mySwiper {
    .swiper-wrapper{
      max-height: 380px !important;
      min-height: 380px;
    }
  }
}

@media (min-width: 620px) and (max-width: 1064px) { 
  .mySwiper {
    .swiper-wrapper{
      max-height: 480px !important;
      min-height: 480px;
    }
  }
}

@media (min-width: 1064px) and (max-width: 1199px) { 
  .mySwiper {
    .swiper-wrapper{
      max-height: 480px !important;
      min-height: 480px;
    }
  }
}

@media (min-width: 1264px) { 
  #home div.v-overlay__scrim{
    opacity: 0 !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) { 
  .mySwiper {
    min-height: 500px !important;
  
    div.swiper-wrapper{
      min-height: 500px !important;
    }
  }
}

@media (min-width: 1400px) { 
  .mySwiper {
    min-height: 460px !important;
  
    div.swiper-wrapper{
      min-height: 460px !important;
    }
  }
}