* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
.v-container {
  padding: 12px !important;
}

html {
  scroll-behavior: smooth !important;
}

.v-btn--icon.v-btn--density-default {
  width: 36px !important;
  height: 36px !important;
}

/* Start Style ScroolBar */
body.darkScrollbar::-webkit-scrollbar {
  height: 1rem;
  width: 0.9rem;
}

body.darkScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, 0.2);
  border-color: rgba(255, 255, 255, 0.29);
  border-radius: 9999px;
  border-width: 1px;
}

body.darkScrollbar::-webkit-scrollbar-track {
  background-color: black;
}

body.darkScrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(217, 217, 227, 0.2) black;
}

body.darkScrollbar {
  scrollbar-face-color: rgba(217, 217, 227, 0.2);
  scrollbar-track-color: black;
  scrollbar-shadow-color: black;
  scrollbar-highlight-color: black;
  scrollbar-3dlight-color: black;
  scrollbar-darkshadow-color: black;
  scrollbar-arrow-color: rgba(217, 217, 227, 0.2);
}

/* End Style ScroolBar */
.v-application .v-list a {
  padding-left: 0 !important;
}

.v-application .v-theme--dark.v-list a {
  color: #FFFFFF !important;
}

.v-application .v-theme--light.v-list a {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-theme--dark span.swiper-pagination-bullet {
  background-color: white !important;
}

.v-theme--dark .swiper-button-prev:after {
  color: white !important;
}

.v-theme--dark .swiper-button-next:after {
  color: white !important;
}

.mySwiper {
  border-radius: 8px !important;
}
.mySwiper .swiper-slide {
  min-height: 520px;
}
.mySwiper .swiper-wrapper {
  min-height: 520px;
  border-radius: 8px !important;
}
.mySwiper img {
  border-radius: 8px !important;
}

.swiper-carousel .swiper-slide {
  border-radius: 8px !important;
}

#skills .HTML5 {
  color: #DD4B25;
}
#skills .CSS3 {
  color: #3595CF;
}
#skills .Bootstrap {
  color: #6A37B2;
}
#skills .JavaScript {
  color: #EFD81D;
}
#skills .TypeScript {
  color: #2F74C0;
}
#skills .SQLServer {
  color: #006EC2;
}
#skills .MySQL {
  color: #47809D;
}
#skills .NodeJS {
  color: #74AC5F;
}
#skills .VueJS {
  color: #3FB27F;
}
#skills .CSharp {
  color: #642075;
}
#skills .Sass {
  color: #C76494;
}
#skills .Git {
  color: #E84D31;
}
#skills .API {
  color: #FF9210;
}
#skills .EJS {
  color: #4CAF50;
}
#skills .Express {
  color: #394671;
}
#skills .BulmaCSS {
  color: #69F0AE;
}
#skills .VueRouter {
  color: #4CAF50;
}
#skills .Vuetify {
  color: #64B5F6;
}
#skills .Stylus {
  color: #7CB333;
}

#projects .HTML5 i {
  color: #DD4B25;
}
#projects .CSS3 i {
  color: #3595CF;
}
#projects .Bootstrap i {
  color: #6A37B2;
}
#projects .JavaScript i {
  color: #EFD81D;
}
#projects .TypeScript i {
  color: #2F74C0;
}
#projects .SQLServer i {
  color: #006EC2;
}
#projects .MySQL i {
  color: #47809D;
}
#projects .NodeJS i {
  color: #74AC5F;
}
#projects .VueJS i {
  color: #3FB27F;
}
#projects .CSharp i {
  color: #642075;
}
#projects .Sass i {
  color: #C76494;
}
#projects .Git i {
  color: #E84D31;
}
#projects .API i {
  color: #FF9210;
}
#projects .EJS i {
  color: #4CAF50;
}
#projects .Express i {
  color: #394671;
}
#projects .BulmaCSS i {
  color: #69F0AE;
}
#projects .VueRouter i {
  color: #4CAF50;
}
#projects .Vuetify i {
  color: #64B5F6;
}
#projects .Stylus i {
  color: #7CB333;
}

#Contact .github i {
  color: #6A37B2;
}
#Contact .linkedin i {
  color: #0077B5;
}
#Contact .email i {
  color: #F7BB4E;
}

@media (max-width: 620px) {
  .mySwiper .swiper-wrapper {
    max-height: 380px !important;
    min-height: 380px;
  }
}
@media (min-width: 620px) and (max-width: 1064px) {
  .mySwiper .swiper-wrapper {
    max-height: 480px !important;
    min-height: 480px;
  }
}
@media (min-width: 1064px) and (max-width: 1199px) {
  .mySwiper .swiper-wrapper {
    max-height: 480px !important;
    min-height: 480px;
  }
}
@media (min-width: 1264px) {
  #home div.v-overlay__scrim {
    opacity: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .mySwiper {
    min-height: 500px !important;
  }
  .mySwiper div.swiper-wrapper {
    min-height: 500px !important;
  }
}
@media (min-width: 1400px) {
  .mySwiper {
    min-height: 460px !important;
  }
  .mySwiper div.swiper-wrapper {
    min-height: 460px !important;
  }
}/*# sourceMappingURL=style.css.map */