* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
body {
  background-color: black !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

/* ---------- Header ---------- */
#header {
  border-bottom: 1px solid rgba(250, 250, 250, 0.4);
  height: 6rem;
}

#header > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

#header > .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header > .row #divWithIcons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#header > .row img {
  max-width: 100%;
  height: 70px;
}

#header > .row i {
  font-size: 1.5rem;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

#header > .row i:hover {
  color: #d3ad7f;
}

/* ---------- End Header ---------- */
/* ---------- Home ---------- */
#home > .row {
  position: relative;
  height: 800px;
}

#home > .row #divBackground {
  background-image: url("../images/home-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

#home > .row #divAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home > .row #divAbsolute h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
}

#home > .row #divAbsolute span {
  display: block;
  color: white;
  font-weight: lighter;
  font-size: 0.9rem;
}

#home > .row #divAbsolute div {
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#home > .row #divAbsolute button {
  margin-top: 1rem;
  padding: 0.8rem;
  color: white;
  cursor: pointer;
  background-color: #d3ad7f;
  border-radius: 4px;
}

#home > .row #divAbsolute button:hover {
  background-color: #8b6c44;
}

/* ---------- End Home ---------- */
/* ---------- About ---------- */
#about {
  margin-top: 3rem;
}

#about > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about > .row div#aboutTitle {
  margin-bottom: 1rem;
  text-align: center;
  background-color: black;
}

#about > .row #divWithImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about > .row div {
  background-color: #13131a;
  padding-left: 0;
  padding-right: 0;
}

#about > .row div img {
  width: 100%;
  height: auto;
  background-image: cover;
}

#about > .row div h1 {
  color: white;
  display: inline;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-weight: bold;
  font-size: 2.5rem;
}

#about > .row div h1#golden {
  color: #d3ad7f;
}

#about > .row #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#about > .row #content h4 {
  color: white;
  font-weight: bold;
}

#about > .row #content span {
  margin-top: 1rem;
  display: block;
  color: #d8d3d3;
  font-weight: lighter;
  font-size: 0.9rem;
}

#about > .row #content button {
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  background-color: #d3ad7f;
  border-radius: 4px;
}

#about > .row #content button:hover {
  background-color: #8b6c44;
}

/* ---------- End About ---------- */
/* ---------- Menu ---------- */
#menu > .row {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#menu > .row h1 {
  color: white;
  display: inline;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-weight: bold;
  font-size: 2.5rem;
}

#menu > .row h1#golden {
  color: #d3ad7f;
}

#menu > .row .elements {
  margin-top: 1rem;
  height: 100%;
}

#menu > .row .elements div {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
}

#menu > .row .elements div:hover {
  background-color: white;
}

#menu > .row .elements div:hover h5 {
  color: #d3ad7f;
}

#menu > .row .elements div:hover span {
  color: #d3ad7f;
}

#menu > .row .elements div h5 {
  margin-top: 0.8rem;
  color: white;
}

#menu > .row .elements div span {
  color: white;
  display: block;
  font-size: 1.5rem;
}

#menu > .row .elements div p {
  text-decoration: line-through !important;
  font-size: 1.2rem;
  display: inline;
}

#menu > .row .elements div button {
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  background-color: #d3ad7f;
  border-radius: 4px;
}

#menu > .row .elements div button:hover {
  background-color: #8b6c44;
}

/* ---------- End Menu ---------- */
/* ---------- Products ---------- */
#products {
  margin-top: 3rem;
}

#products > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#products > .row h1 {
  color: white;
  display: inline;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-weight: bold;
  font-size: 2.5rem;
}

#products > .row h1#golden {
  color: #d3ad7f;
}

#products > .row .elements {
  margin-top: 1rem;
  cursor: pointer;
}

#products > .row .elements div.divContent {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#products > .row .elements div.divContent img {
  max-width: 90%;
  max-height: 220px !important;
}

#products > .row .elements div.divContent h4 {
  margin-top: 0.8rem;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

#products > .row .elements div.divContent i {
  color: #d3ad7f;
}

#products > .row .elements div.divContent span {
  color: white;
  display: block;
  font-size: 1.5rem;
}

#products > .row .elements div.divContent p {
  text-decoration: line-through !important;
  font-size: 1.2rem;
  display: inline;
}

#products > .row .elements:hover > div.divAbsolute {
  display: block;
}

#products > .row .elements div.divAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  display: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#products > .row .elements div.divAbsolute button {
  background: none;
  cursor: pointer;
}

#products > .row .elements div.divAbsolute button i {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#products > .row .elements div.divAbsolute button i:hover {
  background-color: white;
  color: black;
}

/* ---------- End Products ---------- */
/* ---------- Contact ---------- */
#contact {
  margin-top: 3rem;
}

#contact div#rowContact {
  margin-bottom: 1rem;
}

#contact div#WeContent.row {
  margin-top: 0.8rem;
  background-color: #13131a;
  margin-left: 0;
  margin-right: 0;
}

#contact div#divMap {
  padding-left: 0;
  padding-right: 0;
}

#contact > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#contact > .row h4 {
  color: white;
  font-weight: bold;
  font-size: 2.0rem;
}

#contact > .row div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

#contact > .row div.content > div {
  display: block;
  width: 100%;
}

#contact > .row div.content > div div.input-group {
  margin-top: .8rem !important;
  margin-bottom: .8rem !important;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
}

#contact > .row div.content > div input {
  padding: 1.3rem;
  color: white;
}

#contact > .row div.content > div span.input-group-text {
  background-color: black !important;
}

#contact > .row div.content > div span.input-group-text i {
  color: white;
}

#contact > .row div.content input {
  background-color: black;
}

#contact > .row div.content button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  background-color: #d3ad7f;
  border-radius: 4px;
}

#contact > .row div.content button:hover {
  background-color: #8b6c44;
}

#contact > .row div#titleContact {
  background-color: black;
}

#contact > .row div#titleContact h1 {
  color: white;
  display: inline;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-weight: bold;
  font-size: 2.5rem;
}

#contact > .row div#titleContact h1#golden {
  color: #d3ad7f;
}

/* ---------- End Contact ---------- */
/* ---------- Blogs ---------- */
#blogs {
  margin-top: 1.5rem;
}

#blogs > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#blogs > .row div#titleBlogs {
  margin-bottom: 1rem;
}

#blogs > .row div#titleBlogs h1 {
  color: white;
  display: inline;
  font-weight: bold;
  font-size: 2.5rem;
}

#blogs > .row div#titleBlogs h1#golden {
  color: #d3ad7f;
}

#blogs > .row .content {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  margin-top: .7rem;
}

#blogs > .row .content .elements {
  overflow: hidden;
}

#blogs > .row .content img {
  width: 100%;
  min-height: 270px;
  height: auto;
  margin-bottom: 7.5rem;
}

#blogs > .row .content .absolute {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: .7rem 1rem;
}

#blogs > .row .content h5 {
  display: inline;
  color: white;
  font-weight: bold;
}

#blogs > .row .content span.byGolden {
  display: block;
  color: #d3ad7f;
  font-size: 1.2rem;
  margin-left: .5rem;
}

#blogs > .row .content span.lorem {
  display: block;
  color: white;
  font-weight: lighter;
}

#blogs > .row .content:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blogs > .row .content button {
  margin-top: .3rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  color: white;
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer;
  background-color: #d3ad7f;
  border-radius: 4px;
}

#blogs > .row .content button:hover {
  background-color: #8b6c44;
}

/* ---------- End Blogs ---------- */
/* ---------- Footer ---------- */
#footer {
  background-color: #13131a;
  margin-top: 4.5rem;
  padding-bottom: .1rem;
  padding-top: .7rem;
  text-align: center !important;
}

#footer div.divIcons {
  text-align: center;
}

#footer div.divIcons a {
  height: 2.9rem;
  width: 2.9rem;
  line-height: 2.9rem;
  font-size: 1.2rem;
  color: #fff;
  margin: 0.3rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#footer div.divIcons a:hover {
  background-color: white;
  color: black;
}

#footer div.rowElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

#footer div.rowElements div.elementsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .7rem;
}

#footer div.rowElements div.elementsMenu div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#footer div.rowElements div.elementsMenu div a {
  color: white;
  font-size: 0.8rem;
  display: block;
  height: 100%;
}

#footer div.rowElements div.elementsMenu div:hover {
  background-color: #8b6c44;
  border: 1px solid black;
}

/* ---------- End Footer ---------- */
@media (max-width: 327px) {
  #blogs h5 {
    font-size: 0.98rem;
  }
  #blogs span.byGolden {
    font-size: 1.05rem !important;
  }
  #blogs span.lorem {
    font-size: 0.85rem !important;
  }
}

@media (max-width: 767.98px) {
  nav#navbarCollapse {
    background-color: white;
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    height: calc(100vh - 6rem);
    padding-right: 15rem;
    z-index: 1000;
  }
  nav#navbarCollapse ul li {
    margin-top: 0.7rem;
  }
  nav#navbarCollapse ul li a {
    color: black;
    font-size: 1.2rem;
    border-bottom: 1px solid white !important;
    padding-top: 0.7rem;
    margin-left: 0.5rem;
  }
  nav#navbarCollapse ul li a:hover {
    margin-left: 0rem;
    color: #d3ad7f;
    border-bottom: 1px solid #d3ad7f !important;
  }
}

@media (min-width: 576px) {
  #menu .elements {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  #products .elements {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  #footer .elementsMenu a {
    font-size: 1.1 !important;
  }
}

@media (min-width: 768px) {
  #header .fas.fa-bars {
    display: none;
  }
  #header nav#navbarCollapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header nav#navbarCollapse ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header nav#navbarCollapse ul li {
    margin-top: 0.7rem;
    display: inline;
  }
  #header nav#navbarCollapse ul li a {
    color: white;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline;
  }
  #header nav#navbarCollapse ul li a:hover {
    padding-bottom: 0.5rem;
    color: #d3ad7f;
    border-bottom: 1px solid #d3ad7f;
  }
  #home #divAbsolute {
    text-align: left !important;
  }
  #home #divAbsolute h1 {
    font-size: 3rem !important;
  }
  #home #divAbsolute span {
    font-size: 1rem !important;
  }
  #home #divAbsolute button:hover {
    margin-left: 0.7rem;
  }
  #about > .row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  #about #content button:hover {
    background-color: white !important;
    color: black !important;
    margin-left: 0.7rem;
  }
}

@media (min-width: 992px) {
  #home #divAbsolute {
    text-align: left !important;
  }
  #home #divAbsolute h1 {
    font-size: 3.5rem !important;
  }
  #home #divAbsolute span {
    font-size: 1.2rem !important;
  }
  #home #divAbsolute button {
    font-size: 1.1rem;
  }
  #about #content {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  #about #content h4 {
    font-size: 1.7rem;
  }
  #menu > .row {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  #products > .row {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  #contact > .row {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  #footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  #footer div.elementsMenu div {
    padding: 0.5rem 3.0rem !important;
  }
}

@media (min-width: 1200px) {
  #about #content h4 {
    font-size: 1.9rem;
  }
  #about #content span {
    font-size: 1rem !important;
  }
  #footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
/*# sourceMappingURL=style.css.map */