$border: 1px solid rgba(200, 185, 185, 0.5);
$boxShadow: 2px 2px 6px -4px rgba(0,0,0,0.9);

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile{
    min-width: 256px !important;
    top: 0 !important;
    bottom: 0 !important;
    max-height: 100% !important;
}

body{
    padding: 0;
    height: 100%;
    margin: 0;
}

td.text-start{
    border: 1px solid red($color: #000000);
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
    span{
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.homeView{
    div.row{
        display: flex;
        justify-content: center;
        margin-top: .5rem;

        .col{
            >div.elements{
                display: flex;
                align-items: center;
                cursor: pointer;

                a{
                    display: flex;
                    align-items: center;
                    height :100%; 
                    width: 100%;
                    text-decoration: none; 
                    color: black; 
                    padding: 1.5rem 1.25rem;
                    border-radius: 16px;
                    border: $border;
                    border-radius: 16px;
                    -webkit-box-shadow: $boxShadow;
                    box-shadow: $boxShadow;

                    &:hover{
                        box-shadow: 2px 2px 6px -4px rgba(0,0,0,0.9);
                    }
                }
                
                div.left{
                    span.value{
                        font-weight: bold;
                    }
                }

                div.right{
                    margin-left: auto;

                    span{
                        i{
                            color: white;
                            border-radius: 50%;
                            padding: .5rem;
                        }

                        i.iGreen{
                            background-color: rgb(59, 150, 59);
                        }
                        
                        i.iRed{
                            background-color: rgb(220, 12, 12);
                        }
                        
                        i.iBlue{
                            background-color: rgb(33, 150, 243);
                        }
                    }
                }
            }
        }
    }

    .reports{
        margin-top: 2rem !important;
        
        div.dash{

            width: 100%;
            margin-bottom: 1.5rem;

            div#arrayMov{
                display: flex;
                align-items: center;
                justify-content: center;

                >span{
                    border: $border;
                    border-radius: 16px;
                    -webkit-box-shadow: $boxShadow;
                    width: 100%;
                    padding: 1.5rem 1.25rem;
                    box-shadow: $boxShadow;

                    h3{
                        margin-bottom: 1.5rem;
                    }

                    div.data{
                        border-bottom: 1px solid rgba(200, 185, 185, 0.9);
                        margin-bottom: 1.3rem;

                        >div{
                            display: flex;
                            align-items: center;
                            
                            div.divLeft{
                                float:left;
                                max-width: 220px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                span{
                                    display: inline-block;
                                    max-width: 100%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            
                            div.divRight{
                                margin-left: auto
                            }
                        }
                    }
                }
            }


            div.elements{
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-bottom: .7rem;

                >span{
                    display: flex;
                    align-items: center;
                    height: 100%; 
                    width: 100%;
                    text-decoration: none; 
                    color: black; 
                    padding: 1.5rem 1.25rem;
                    border-radius: 16px;
                    border: $border;
                    border-radius: 16px;
                    -webkit-box-shadow: $boxShadow;
                    box-shadow: $boxShadow;

                    &:hover{
                        box-shadow: 2px 2px 6px -4px rgba(0,0,0,0.9);
                    }
                }
                
                div.left{
                    text-align: left;
                    span.value{
                        font-weight: bold;
                        
                    }
                }

                div.right{
                    margin-left: auto;

                    span{
                        i{
                            color: white;
                            border-radius: 50%;
                            padding: .5rem;
                        }

                        i.iGreen{
                            background-color: rgb(59, 150, 59);
                        }
                    }
                }
            }

            >div#first{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                border: $border;
                border-radius: 16px;
                max-width: 100%;
                -webkit-box-shadow: $boxShadow;
                box-shadow: $boxShadow;
                margin-left: auto;
                margin-right: auto;

                div.divDash{
                    text-align: center;
                    margin-bottom: auto !important;
                    margin-top: auto !important;
                    padding: 1.5rem 1.25rem;
                    
                    #apexchart{
                        max-height: 100% !important;
                        >div{
                           margin-left: auto;
                           margin-right: auto;
                        }
                    }

                    #dashExpAndRecs{
                        >div{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                .v-input{
                    max-width: 70% !important;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    #apexDonutRec, #apexDonutExp{
        .apexcharts-legend-series{
            display: none;
        }
    }
    #apexDonutRec.one, #apexDonutExp.one{
        .apexcharts-legend-series{
            &:nth-child(1){ display:revert; }
        }
    }
    
    #apexDonutRec.two, #apexDonutExp.two{
        .apexcharts-legend-series{
            &:nth-child(2){ display:revert; }
        }
    }

    #apexDonutRec.three, #apexDonutExp.three{
        .apexcharts-legend-series{
            &:nth-child(3){ display:revert; }
        }
    }
    
    #apexDonutRec.four, #apexDonutExp.four{
        .apexcharts-legend-series{
            &:nth-child(4){ display:revert; }
        }
    }
    
    #apexDonutExp.five{
        .apexcharts-legend-series{
            &:nth-child(5){ display:revert; }
        }
    }
    
    #apexDonutExp.six{
        .apexcharts-legend-series{
            &:nth-child(6){ display:revert; }
        }
    }
    
    #apexDonutExp.seven{
        .apexcharts-legend-series{
            &:nth-child(7){ display:revert; }
        }
    }
    
    #apexDonutExp.eight{
        .apexcharts-legend-series{
            &:nth-child(8){ display:revert; }
        }
    }
    
    #apexDonutExp.nine{
        .apexcharts-legend-series{
            &:nth-child(9){ display:revert; }
        }
    }
    
}

#apexDonutExp {
    div.apexcharts-legend{
        padding-top: 2rem;
    }
}

@media (max-width: 280px) { 
    .reports{
        margin-top: 2rem !important;
        #divLineIndex{
            display: none;
        }
    }
}

@media (max-width: 356px) { 
    #apexDonutRec, #apexDonutExp{
        .apexcharts-legend-series{
            display: none !important;
        }
    }

    div.divDash{
        padding: 0 !important;
    }

    .v-navigation-drawer--bottom.v-navigation-drawer--is-mobile{
        max-width: 200px !important;
        min-width: 200px !important;
    }
}

@media (max-width: 576px) { 
    #apexDonutRec, #apexDonutExp{
        .apexcharts-legend-series{
            display: none !important;
        }
    }

    #apexDonutExp {
        .apexcharts-legend {
            display: none !important;
        }
    }
}

@media (min-width: 576px) { 
    .reports{
        margin-top: 1.5rem !important;
    }
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
}
