html {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
  min-width: 256px !important;
  top: 0 !important;
  bottom: 0 !important;
  max-height: 100% !important;
}

body {
  padding: 0;
  height: 100%;
  margin: 0;
}

td.text-start {
  border: 1px solid 0;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.text-start span {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homeView div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .5rem;
}

.homeView div.row .col > div.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.homeView div.row .col > div.elements a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 1.5rem 1.25rem;
  border-radius: 16px;
  border: 1px solid rgba(200, 185, 185, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
}

.homeView div.row .col > div.elements a:hover {
  -webkit-box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
}

.homeView div.row .col > div.elements div.left span.value {
  font-weight: bold;
}

.homeView div.row .col > div.elements div.right {
  margin-left: auto;
}

.homeView div.row .col > div.elements div.right span i {
  color: white;
  border-radius: 50%;
  padding: .5rem;
}

.homeView div.row .col > div.elements div.right span i.iGreen {
  background-color: #3b963b;
}

.homeView div.row .col > div.elements div.right span i.iRed {
  background-color: #dc0c0c;
}

.homeView div.row .col > div.elements div.right span i.iBlue {
  background-color: #2196f3;
}

.homeView .reports {
  margin-top: 2rem !important;
}

.homeView .reports div.dash {
  width: 100%;
  margin-bottom: 1.5rem;
}

.homeView .reports div.dash div#arrayMov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeView .reports div.dash div#arrayMov > span {
  border: 1px solid rgba(200, 185, 185, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 1.5rem 1.25rem;
  box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
}

.homeView .reports div.dash div#arrayMov > span h3 {
  margin-bottom: 1.5rem;
}

.homeView .reports div.dash div#arrayMov > span div.data {
  border-bottom: 1px solid rgba(200, 185, 185, 0.9);
  margin-bottom: 1.3rem;
}

.homeView .reports div.dash div#arrayMov > span div.data > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeView .reports div.dash div#arrayMov > span div.data > div div.divLeft {
  float: left;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homeView .reports div.dash div#arrayMov > span div.data > div div.divLeft span {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homeView .reports div.dash div#arrayMov > span div.data > div div.divRight {
  margin-left: auto;
}

.homeView .reports div.dash div.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: .7rem;
}

.homeView .reports div.dash div.elements > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 1.5rem 1.25rem;
  border-radius: 16px;
  border: 1px solid rgba(200, 185, 185, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
}

.homeView .reports div.dash div.elements > span:hover {
  -webkit-box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
}

.homeView .reports div.dash div.elements div.left {
  text-align: left;
}

.homeView .reports div.dash div.elements div.left span.value {
  font-weight: bold;
}

.homeView .reports div.dash div.elements div.right {
  margin-left: auto;
}

.homeView .reports div.dash div.elements div.right span i {
  color: white;
  border-radius: 50%;
  padding: .5rem;
}

.homeView .reports div.dash div.elements div.right span i.iGreen {
  background-color: #3b963b;
}

.homeView .reports div.dash > div#first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  border: 1px solid rgba(200, 185, 185, 0.5);
  border-radius: 16px;
  max-width: 100%;
  -webkit-box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
  margin-left: auto;
  margin-right: auto;
}

.homeView .reports div.dash > div#first div.divDash {
  text-align: center;
  margin-bottom: auto !important;
  margin-top: auto !important;
  padding: 1.5rem 1.25rem;
}

.homeView .reports div.dash > div#first div.divDash #apexchart {
  max-height: 100% !important;
}

.homeView .reports div.dash > div#first div.divDash #apexchart > div {
  margin-left: auto;
  margin-right: auto;
}

.homeView .reports div.dash > div#first div.divDash #dashExpAndRecs > div {
  margin-left: auto;
  margin-right: auto;
}

.homeView .reports div.dash > div#first .v-input {
  max-width: 70% !important;
  margin-left: auto;
  margin-right: auto;
}

.homeView #apexDonutRec .apexcharts-legend-series, .homeView #apexDonutExp .apexcharts-legend-series {
  display: none;
}

.homeView #apexDonutRec.one .apexcharts-legend-series:nth-child(1), .homeView #apexDonutExp.one .apexcharts-legend-series:nth-child(1) {
  display: revert;
}

.homeView #apexDonutRec.two .apexcharts-legend-series:nth-child(2), .homeView #apexDonutExp.two .apexcharts-legend-series:nth-child(2) {
  display: revert;
}

.homeView #apexDonutRec.three .apexcharts-legend-series:nth-child(3), .homeView #apexDonutExp.three .apexcharts-legend-series:nth-child(3) {
  display: revert;
}

.homeView #apexDonutRec.four .apexcharts-legend-series:nth-child(4), .homeView #apexDonutExp.four .apexcharts-legend-series:nth-child(4) {
  display: revert;
}

.homeView #apexDonutExp.five .apexcharts-legend-series:nth-child(5) {
  display: revert;
}

.homeView #apexDonutExp.six .apexcharts-legend-series:nth-child(6) {
  display: revert;
}

.homeView #apexDonutExp.seven .apexcharts-legend-series:nth-child(7) {
  display: revert;
}

.homeView #apexDonutExp.eight .apexcharts-legend-series:nth-child(8) {
  display: revert;
}

.homeView #apexDonutExp.nine .apexcharts-legend-series:nth-child(9) {
  display: revert;
}

#apexDonutExp div.apexcharts-legend {
  padding-top: 2rem;
}

@media (max-width: 280px) {
  .reports {
    margin-top: 2rem !important;
  }
  .reports #divLineIndex {
    display: none;
  }
}

@media (max-width: 356px) {
  #apexDonutRec .apexcharts-legend-series, #apexDonutExp .apexcharts-legend-series {
    display: none !important;
  }
  div.divDash {
    padding: 0 !important;
  }
  .v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
    max-width: 200px !important;
    min-width: 200px !important;
  }
}

@media (max-width: 576px) {
  #apexDonutRec .apexcharts-legend-series, #apexDonutExp .apexcharts-legend-series {
    display: none !important;
  }
  #apexDonutExp .apexcharts-legend {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .reports {
    margin-top: 1.5rem !important;
  }
}
/*# sourceMappingURL=style.css.map */