* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    font-family: 'Poppins', sans-serif;
}

/* ---------- Variables ---------- */
$white: #ffffff;
$gray: #eee;
$grayDark: rgb(150, 143, 143);
$black: rgb(17, 17, 17);
$orange: rgb(245, 191, 35);
$box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
/* ---------- End Variables ---------- */

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: $orange;
}
/* ---------- End Scrollbar ---------- */

div.row.rightInfo {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vh;
    background-color: white;
    z-index: 1000;
    text-align: center !important;

    >.row {
        margin: 0;
        padding: 0;
    }

    .row.closeMenu {
        font-size: 2rem;
        height: 5vh;
        text-align: right;
        font-weight: bold;

        button {
            cursor: pointer;
            background: none;
        }
    }

    >.row.data {
        display: flex;
        align-items: center;
        height: 95vh;

        div.elements {
            display: flex;
            justify-content: center !important;

            span {
                display: block;
                color: $grayDark;
            }

            a {
                i {
                    color: $black;
                    font-size: 2rem;
                    padding: 0.35rem 0.7rem;
                    border: 1px solid $black;
                }

                &:hover {
                    i {
                        border: 1px solid $orange;
                        color: $white;
                        background-color: $orange;
                    }

                }
            }
        }
    }

    i {
        font-size: 2rem;
        font-weight: 600 !important;
        color: $black;
    }
}

#navbar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    background-color: $white;
    min-height: 10vh;

    a {
        color: $black;
        margin-right: auto;
        font-size: 1.35rem;

        span {
            font-weight: 600;
        }

        span.orange {
            color: $orange;
        }
    }

    button {
        padding: 0.25rem 0.75rem;
        margin-right: .5rem;
        font-size: 1.25rem;
        //background-color: $gray;
    }

    .btn-outline-dark {
        border: none !important;

        &:hover {
            color: $white;
            background-color: $orange;
        }
    }

    ul {
        li {
            a {
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

// End Navbar

// Modal
#exampleModal{
    input{
        color: $grayDark;
        padding-bottom: .7rem;
        padding-top: .7rem;
        width: 100%;
        border-bottom: 1px solid $grayDark;
    }

    input:focus{
        border-bottom: 1px solid $orange;
    }
}
// End Modal

// Home
#home {
    padding-left: 0;
    padding-right: 0;
    height: 90vh !important;

    a {
        font-size: 2.5rem;
        color: $orange;
    }
}

// End Home

// Sobre
#sobre {
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: $white;
    min-height: 90vh;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .6rem solid $orange;
        }

        h5 {
            font-size: 1.95rem;
            font-weight: bold;
        }

        span {
            font-size: 1.05rem;
            opacity: 0.8;
        }

        button {
            display: block;
            cursor: pointer;
            color: $white;
            font-size: 1.25rem;
            font-weight: 600;
            padding: .5rem .7rem;
            background-color: $black;
            margin-top: 1rem;

            &:hover {
                color: $black;
                background-color: $orange;
            }
        }

        div.elements {
            position: relative;
            margin-top: 1rem;
            text-align: center;
            height: 10rem;
            display: flex;
            align-items: center;
            width: 100vh;

            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100vh;
                height: 100%;
                padding: 1.5rem .8rem;
                background-color: $gray;

                h6 {
                    opacity: 0.8;
                    font-size: 1.1rem;
                }

                span {
                    //border: 1px solid red;
                    //padding: 0;
                    opacity: 1;
                }
            }
        }
    }
}

// End Sobre

// Servicos
#servicos {
    background-color: $gray;
    min-height: 90vh;
    padding-bottom: 5rem;
    padding-top: 5rem;

    >.row {
        h4 {
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .6rem solid $orange;
        }

        div.elements {
            margin-top: 1rem;
            text-align: center;

            >div {
                display: flex;
                align-items: center;
                height: 100%;
                border: 1px solid $black;
                box-shadow: $box-shadow;
                background-color: $white;
                padding: 1.5rem;

                img {
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                    height: 5rem;
                }

                h5 {
                    margin-bottom: .5rem;
                    margin-top: .5rem;
                    font-weight: 600;
                }

                span {
                    font-size: 0.9rem;

                    span {
                        opacity: 0.8;
                    }
                }

                &:hover {
                    span {
                        >img {
                            margin-top: .2rem;
                            margin-bottom: .8rem;
                        }
                    }
                }

            }
        }
    }
}

// End Servicos

// Projetos
#projetos {
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: $black;
    min-height: 90vh;
    color: $white;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .6rem solid $orange;
        }

        div.test {
            margin-top: 1rem;

            div.divImage {
                overflow: hidden;
                background-size: cover;

                img {
                    width: 100%;
                }
            }

            div.elements {
                z-index: 995;
                text-align: center;

                >div {
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    color: $black;
                    background-color: $white;

                    h5 {
                        font-weight: 700;

                        span {
                            color: $orange;
                        }
                    }

                    span.foot {
                        font-weight: 600;
                        font-size: 1.1rem;
                    }
                }
            }

            &:hover {
                img {
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }
    }
}

// End Projetos

// Preços
#precos {
    padding-bottom: 5rem;
    padding-top: 5rem;
    min-height: 90vh;
    background-color: $gray;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .6rem solid $orange;
        }

        div.elements {
            text-align: center;
            margin-top: 1rem;

            >div {
                background-color: $white;
                padding-bottom: 1rem;
                padding-top: 1rem;
                border: 1px solid $black;
                box-shadow: $box-shadow;

                button.icon {
                    font-size: 1.5rem;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 50%;
                    background-color: $orange;
                    color: $white;
                }

                span {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    display: block;

                    p {
                        display: inline;
                        font-weight: bold;
                        font-size: 1.9rem;
                    }
                }

                h5 {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    font-weight: bold;
                }

                .data {
                    span {
                        opacity: 0.8;
                    }

                    button {
                        display: block;
                        cursor: pointer;
                        color: $white;
                        font-size: 1.25rem;
                        font-weight: 600;
                        padding: .5rem .7rem;
                        background-color: $black;
                        margin-top: 1rem;
                        margin-left: auto;
                        margin-right: auto;

                        &:hover {
                            color: $black;
                            background-color: $orange;
                        }
                    }
                }
            }
        }
    }
}
// End Preços

// Contato
#contato{
    padding-bottom: 5rem;
    padding-top: 5rem;
    min-height: 90vh;
    color: $white;
    background-color: $black;
    overflow: hidden;
    background-size: cover;

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        h4{
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .6rem solid $orange;
        }

        div.elements{
            div{
                color: $black;
                background-color: $white;
                padding: 1rem;
 
                h5{
                    font-weight: bold;
                }

                input, textarea{
                    color: $grayDark;
                    padding-bottom: .7rem;
                    padding-top: .7rem;
                    width: 100%;
                    border-bottom: 1px solid $grayDark;
                }

                input:focus, textarea:focus{
                    border-bottom: 1px solid $orange;
                }

                button {
                    display: block;
                    cursor: pointer;
                    color: $white;
                    font-size: 1.15rem;
                    padding: .5rem .7rem;
                    background-color: $black;
                    margin-top: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                    &:hover {
                        color: $black;
                        background-color: $orange;
                    }
                }
            }
        }
    }
}
// End Contato

// Blogs
#blogs {
    padding-bottom: 5rem;
    padding-top: 5rem;
    min-height: 90vh;
    background-color: $gray;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .6rem solid $orange;
        }

        div.main{
            cursor: grab;
            div.divImage{
                img{
                    width: 100%;
                }

                overflow: hidden;
                background-size: cover;
            }
            
            div.data{
                text-align: center;
                background-color: white;
                padding: 1rem .7rem;
                span{
                    color: $grayDark;
                }
    
                h5 {
                    font-weight: bold;
                }
    
                button {
                    display: block;
                    cursor: pointer;
                    color: $white;
                    font-size: 1.15rem;
                    padding: .5rem .7rem;
                    background-color: $black;
                    margin-top: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                    &:hover {
                        color: $black;
                        background-color: $orange;
                    }
                }
            }

            &:hover{
                img {
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }

        
    }
}
// End Blogs

// Footer
#footer{
    >.row{
        text-align: center;
        display: flex;
        justify-content: center;
        ul{
            li{
                display: inline;

                a{
                    button {
                        cursor: pointer;
                        color: $white;
                        font-size: 1.15rem;
                        padding: .5rem .7rem;
                        background-color: $black;
                        margin-top: 1rem;
                        margin-left: auto;
                        margin-right: auto;
                        &:hover {
                            color: $black;
                            background-color: $orange;
                        }
                    }
                }
            }
        }
    }
}
// End Footer

@media (min-width: 576px) {
    #blogs {
        .row {
            div.main{
                cursor: grab;
                div.divImage{
                    img{
                        max-height: 20rem;
                        width: 100%;
                    }
                }
            
            }
        }
    }
}

@media (min-width: 768px) {
    #blogs {
        .row {
            div.main{
                cursor: grab;
                div.divImage{
                    img{
                        max-height: 15rem;
                        width: 100%;
                    }
                }
            
            }
        }
    }
}

@media (min-width: 992px) {
    #blogs {
        .row {
            div.main{
                cursor: grab;
                div.divImage{
                    img{
                        max-height: 11rem;
                        width: 100%;
                    }
                }
            
            }
        }
    }
}

@media (min-width: 1200px) {
    #blogs {
        .row {
            div.main{
                cursor: grab;
                div.divImage{
                    img{
                        max-height: 15rem;
                        width: 100%;
                    }
                }
            
            }
        }
    }
}