* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-family: 'Poppins', sans-serif;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
div.row.rightInfo {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vh;
  background-color: white;
  z-index: 1000;
  text-align: center !important;
}

div.row.rightInfo > .row {
  margin: 0;
  padding: 0;
}

div.row.rightInfo .row.closeMenu {
  font-size: 2rem;
  height: 5vh;
  text-align: right;
  font-weight: bold;
}

div.row.rightInfo .row.closeMenu button {
  cursor: pointer;
  background: none;
}

div.row.rightInfo > .row.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
}

div.row.rightInfo > .row.data div.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

div.row.rightInfo > .row.data div.elements span {
  display: block;
  color: #968f8f;
}

div.row.rightInfo > .row.data div.elements a i {
  color: #111111;
  font-size: 2rem;
  padding: 0.35rem 0.7rem;
  border: 1px solid #111111;
}

div.row.rightInfo > .row.data div.elements a:hover i {
  border: 1px solid #f5bf23;
  color: #ffffff;
  background-color: #f5bf23;
}

div.row.rightInfo i {
  font-size: 2rem;
  font-weight: 600 !important;
  color: #111111;
}

#navbar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  background-color: #ffffff;
  min-height: 10vh;
}

#navbar a {
  color: #111111;
  margin-right: auto;
  font-size: 1.35rem;
}

#navbar a span {
  font-weight: 600;
}

#navbar a span.orange {
  color: #f5bf23;
}

#navbar button {
  padding: 0.25rem 0.75rem;
  margin-right: .5rem;
  font-size: 1.25rem;
}

#navbar .btn-outline-dark {
  border: none !important;
}

#navbar .btn-outline-dark:hover {
  color: #ffffff;
  background-color: #f5bf23;
}

#navbar ul li a:hover {
  color: #f5bf23;
}

#home {
  padding-left: 0;
  padding-right: 0;
}

#home a {
  font-size: 2.5rem;
  color: #f5bf23;
}

#sobre {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #ffffff;
  min-height: 90vh;
}

#sobre .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobre .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#sobre .row h5 {
  font-size: 1.95rem;
  font-weight: bold;
}

#sobre .row span {
  font-size: 1.05rem;
  opacity: 0.8;
}

#sobre .row button {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
}

#sobre .row button:hover {
  color: #111111;
  background-color: #f5bf23;
}

#sobre .row div.elements {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vh;
}

#sobre .row div.elements > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vh;
  height: 100%;
  padding: 1.5rem .8rem;
  background-color: #eee;
}

#sobre .row div.elements > div h6 {
  opacity: 0.8;
  font-size: 1.1rem;
}

#sobre .row div.elements > div span {
  opacity: 1;
}

#servicos {
  background-color: #eee;
  min-height: 90vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#servicos > .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#servicos > .row div.elements {
  margin-top: 1rem;
  text-align: center;
}

#servicos > .row div.elements > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid #111111;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  background-color: #ffffff;
  padding: 1.5rem;
}

#servicos > .row div.elements > div img {
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 5rem;
}

#servicos > .row div.elements > div h5 {
  margin-bottom: .5rem;
  margin-top: .5rem;
  font-weight: 600;
}

#servicos > .row div.elements > div span {
  font-size: 0.9rem;
}

#servicos > .row div.elements > div span span {
  opacity: 0.8;
}

#servicos > .row div.elements > div:hover span > img {
  margin-top: .2rem;
  margin-bottom: .8rem;
}

#projetos {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #111111;
  min-height: 90vh;
  color: #ffffff;
}

#projetos .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projetos .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#projetos .row div.test div.elements {
  text-align: center;
}

#projetos .row div.test div.elements > div {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #111111;
  background-color: #ffffff;
}

#projetos .row div.test div.elements > div h5 {
  font-weight: 700;
}

#projetos .row div.test div.elements > div h5 span {
  color: #f5bf23;
}

#projetos .row div.test div.elements > div span.foot {
  font-weight: 600;
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */