*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none !important;
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    font-family: 'Poppins', sans-serif;
}

/* ---------- Variables ---------- */

$white: #ffffff;
$gray: #eee;
$grayDark: rgb(150, 143, 143);
$black: rgb(17, 17, 17);
$orange: rgb(245, 191, 35);
$box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.41);

/* ---------- End Variables ---------- */

div.row.rightInfo{
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vh;
    background-color: white;
    z-index: 1000;
    text-align: center !important;
    
    >.row{
        margin: 0;
        padding: 0;
    }

    .row.closeMenu{
        font-size: 2rem;
        height: 5vh;
        text-align: right;
        font-weight: bold;
        button{
            cursor: pointer;
            background: none;
        }
    }

    >.row.data{
        display: flex;
        align-items: center;
        height: 95vh;
        div.elements{
            display: flex;
            justify-content: center !important;
    
            span{
                display: block;
                color: $grayDark;
            }

            a{
                i{
                    color: $black;
                    font-size: 2rem;
                    padding: 0.35rem 0.7rem;
                    border: 1px solid $black;
                }

                &:hover{
                    i{
                        border: 1px solid $orange;
                        color: $white;
                        background-color: $orange;
                    }
                    
                }
            }
        }
    }

    i{
        font-size: 2rem;
        font-weight: 600 !important;
        color: $black;
    }
}
#navbar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: $box-shadow; 
    box-shadow: $box-shadow;
    //opacity: 0.6;
    background-color: $white;
    
    a {
        color: $black;
        margin-right: auto;
        font-size: 1.35rem;

        span {
            font-weight: 600;
        }
        
        span.orange{
            color: $orange;
        }
    }

    button {
        padding: 0.25rem 0.75rem;
        margin-right: .5rem;
        font-size: 1.25rem;
        //background-color: $gray;
    }

    .btn-outline-dark {
        border: none !important;

        &:hover {
            color: $white;
            background-color: $orange;
        }
    }

    ul{
        li{
            a{
                &:hover{
                    color: $orange;
                }
            }
        }
    }
}
// End Navbar

// Banner
#banner{
    
    padding-left: 0;
    padding-right: 0;

    a{
        font-size: 2.5rem;
        color: $orange;
    }
}
// End Banner


// About
#about{
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: $white;
    height: 95vh;
    .row{
        display: flex;
        align-items: center;
        justify-content: center;

        h4{
            font-weight: bold;
            padding: .7rem .5rem;
            margin-bottom: 1rem;
            border-left: .8rem solid $orange;
        }
        h5{
            font-size: 1.95rem;
            font-weight: bold;
        }

        span{
            font-size: 1.05rem;
            opacity: 0.8;
        }

        button{
            display: block;
            cursor: pointer;
            color: $white;
            font-size: 1.25rem;
            font-weight: 600;
            padding: .5rem .7rem;
            background-color: $black;
            margin-top: 1rem;

            &:hover{
                color: $black;
                background-color: $orange;
            }
        }
    }
}
// End About

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}
