* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-family: 'Poppins', sans-serif;
}

/* ---------- Variables ---------- */
/* ---------- End Variables ---------- */
/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #f5bf23;
}

/* ---------- End Scrollbar ---------- */
div.row.rightInfo {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vh;
  background-color: white;
  z-index: 1000;
  text-align: center !important;
}

div.row.rightInfo > .row {
  margin: 0;
  padding: 0;
}

div.row.rightInfo .row.closeMenu {
  font-size: 2rem;
  height: 5vh;
  text-align: right;
  font-weight: bold;
}

div.row.rightInfo .row.closeMenu button {
  cursor: pointer;
  background: none;
}

div.row.rightInfo > .row.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
}

div.row.rightInfo > .row.data div.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

div.row.rightInfo > .row.data div.elements span {
  display: block;
  color: #968f8f;
}

div.row.rightInfo > .row.data div.elements a i {
  color: #111111;
  font-size: 2rem;
  padding: 0.35rem 0.7rem;
  border: 1px solid #111111;
}

div.row.rightInfo > .row.data div.elements a:hover i {
  border: 1px solid #f5bf23;
  color: #ffffff;
  background-color: #f5bf23;
}

div.row.rightInfo i {
  font-size: 2rem;
  font-weight: 600 !important;
  color: #111111;
}

#navbar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  background-color: #ffffff;
  min-height: 10vh;
}

#navbar a {
  color: #111111;
  margin-right: auto;
  font-size: 1.35rem;
}

#navbar a span {
  font-weight: 600;
}

#navbar a span.orange {
  color: #f5bf23;
}

#navbar button {
  padding: 0.25rem 0.75rem;
  margin-right: .5rem;
  font-size: 1.25rem;
}

#navbar .btn-outline-dark {
  border: none !important;
}

#navbar .btn-outline-dark:hover {
  color: #ffffff;
  background-color: #f5bf23;
}

#navbar ul li a:hover {
  color: #f5bf23;
}

#exampleModal input {
  margin-top: .5rem;
  padding: .7rem;
  width: 100%;
  border: 1px solid #968f8f;
  color: #968f8f;
  background-color: #eee;
}

#exampleModal input:focus {
  border: 1px solid #f5bf23;
}

#exampleModal button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
}

#exampleModal button:hover {
  color: #111111;
  background-color: #f5bf23;
}

#exampleModal a {
  width: 100%;
  display: block;
}

#home {
  padding-left: 0;
  padding-right: 0;
  height: 90vh !important;
}

#home a {
  font-size: 2.5rem;
  color: #f5bf23;
}

#sobre {
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: #ffffff;
  min-height: 90vh;
}

#sobre .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobre .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#sobre .row h5 {
  font-size: 1.95rem;
  font-weight: bold;
}

#sobre .row span {
  font-size: 1.05rem;
  opacity: 0.8;
}

#sobre .row button {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
}

#sobre .row button:hover {
  color: #111111;
  background-color: #f5bf23;
}

#sobre .row div.elements {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vh;
}

#sobre .row div.elements > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vh;
  height: 100%;
  padding: 1.5rem .8rem;
  background-color: #eee;
}

#sobre .row div.elements > div h6 {
  opacity: 0.8;
  font-size: 1.1rem;
}

#sobre .row div.elements > div span {
  opacity: 1;
}

#servicos {
  background-color: #eee;
  min-height: 90vh;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

#servicos > .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#servicos > .row div.elements {
  margin-top: 1rem;
  text-align: center;
}

#servicos > .row div.elements > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid #111111;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
  background-color: #ffffff;
  padding: 1.5rem;
}

#servicos > .row div.elements > div img {
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 5rem;
}

#servicos > .row div.elements > div h5 {
  margin-bottom: .5rem;
  margin-top: .5rem;
  font-weight: 600;
}

#servicos > .row div.elements > div span {
  font-size: 0.9rem;
}

#servicos > .row div.elements > div span span {
  opacity: 0.8;
}

#servicos > .row div.elements > div:hover span > img {
  margin-top: .2rem;
  margin-bottom: .8rem;
}

#projetos {
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: #111111;
  min-height: 90vh;
  color: #ffffff;
}

#projetos .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projetos .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#projetos .row div.test {
  margin-top: 1rem;
}

#projetos .row div.test div.divImage {
  overflow: hidden;
  background-size: cover;
}

#projetos .row div.test div.divImage img {
  width: 100%;
}

#projetos .row div.test div.elements {
  z-index: 995;
  text-align: center;
}

#projetos .row div.test div.elements > div {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #111111;
  background-color: #ffffff;
}

#projetos .row div.test div.elements > div h5 {
  font-weight: 700;
}

#projetos .row div.test div.elements > div h5 span {
  color: #f5bf23;
}

#projetos .row div.test div.elements > div span.foot {
  font-weight: 600;
  font-size: 1.1rem;
}

#projetos .row div.test:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#precos {
  padding-bottom: 5rem;
  padding-top: 5rem;
  min-height: 90vh;
  background-color: #eee;
}

#precos .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#precos .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#precos .row div.elements {
  text-align: center;
  margin-top: 1rem;
}

#precos .row div.elements > div {
  background-color: #ffffff;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid #111111;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.41);
}

#precos .row div.elements > div button.icon {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #f5bf23;
  color: #ffffff;
}

#precos .row div.elements > div span {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
}

#precos .row div.elements > div span p {
  display: inline;
  font-weight: bold;
  font-size: 1.9rem;
}

#precos .row div.elements > div h5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

#precos .row div.elements > div .data span {
  opacity: 0.8;
}

#precos .row div.elements > div .data button {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#precos .row div.elements > div .data button:hover {
  color: #111111;
  background-color: #f5bf23;
}

#contato {
  padding-bottom: 5rem;
  padding-top: 5rem;
  min-height: 90vh;
  color: #ffffff;
  background-color: #111111;
  overflow: hidden;
  background-size: cover;
}

#contato .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

#contato .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#contato .row div.elements div {
  color: #111111;
  background-color: #ffffff;
  padding: 1rem;
}

#contato .row div.elements div h5 {
  font-weight: bold;
}

#contato .row div.elements div input, #contato .row div.elements div textarea {
  color: #968f8f;
  padding-bottom: .7rem;
  padding-top: .7rem;
  width: 100%;
  border-bottom: 1px solid #968f8f;
}

#contato .row div.elements div input:focus, #contato .row div.elements div textarea:focus {
  border-bottom: 1px solid #f5bf23;
}

#contato .row div.elements div button {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.15rem;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#contato .row div.elements div button:hover {
  color: #111111;
  background-color: #f5bf23;
}

#blogs {
  padding-bottom: 5rem;
  padding-top: 5rem;
  min-height: 90vh;
  background-color: #eee;
}

#blogs .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blogs .row h4 {
  font-weight: bold;
  padding: .7rem .5rem;
  margin-bottom: 1rem;
  border-left: 0.6rem solid #f5bf23;
}

#blogs .row div.main {
  cursor: -webkit-grab;
  cursor: grab;
}

#blogs .row div.main div.divImage {
  overflow: hidden;
  background-size: cover;
}

#blogs .row div.main div.divImage img {
  width: 100%;
}

#blogs .row div.main div.data {
  text-align: center;
  background-color: white;
  padding: 1rem .7rem;
}

#blogs .row div.main div.data span {
  color: #968f8f;
}

#blogs .row div.main div.data h5 {
  font-weight: bold;
}

#blogs .row div.main div.data button {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.15rem;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#blogs .row div.main div.data button:hover {
  color: #111111;
  background-color: #f5bf23;
}

#blogs .row div.main:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#footer > .row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer > .row ul li {
  display: inline;
}

#footer > .row ul li a button {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.15rem;
  padding: .5rem .7rem;
  background-color: #111111;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#footer > .row ul li a button:hover {
  color: #111111;
  background-color: #f5bf23;
}

@media (min-width: 576px) {
  #blogs .row div.main {
    cursor: -webkit-grab;
    cursor: grab;
  }
  #blogs .row div.main div.divImage img {
    max-height: 20rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #blogs .row div.main {
    cursor: -webkit-grab;
    cursor: grab;
  }
  #blogs .row div.main div.divImage img {
    max-height: 15rem;
    width: 100%;
  }
}

@media (min-width: 992px) {
  #blogs .row div.main {
    cursor: -webkit-grab;
    cursor: grab;
  }
  #blogs .row div.main div.divImage img {
    max-height: 11rem;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #blogs .row div.main {
    cursor: -webkit-grab;
    cursor: grab;
  }
  #blogs .row div.main div.divImage img {
    max-height: 15rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */