* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 20px;
}

.container-fluid {
    background-color: rgb(27, 27, 27);
    width: 100%;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

.navbar-nav .nav-link:hover {
    color: #29d9d5;
}

#buttonNav {
    padding: 10px 14px;
    background-color: rgb(27, 27, 27);
    color: #29d9d5;
    border: 1px solid #29d9d5;
    border-radius: 50px;
}

#buttonNav:hover {
    background-color: #29d9d5;
    color: #000000;
    text-decoration: none;
}

#textTravel {
    color: rgb(255, 255, 255);
    display: inline;
    font-weight: bolder;
    font-size: 1.45em;
}

#textBgTop {
    display: block;
    width: 100%;
    opacity: 1;
}

#rowBanner {
    height: 500px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/home-bg.jpg");
    background-size: cover;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    .myNav a.nav-link {
        font-size: 1.2em;
    }

    #buttonNav {
        font-size: 1.2em;
        padding: 10px 24px;
    }
}

@media only screen and (min-width: 1200px) {
    #textTravel {
        font-size: 1.45em;
        letter-spacing: 0.6px;
    }

}

@font-face {
    font-family: 'Extreme';
    src: url('../Extreme-Regular.woff2') format('woff2'),
        url('../Extreme-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}