@font-face {
    font-family: 'Extreme';
    src: url('../fonts/Extreme-Regular.woff2') format('woff2'),
        url('../fonts/Extreme-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 20px;
}

.container-fluid {
    background-color: rgb(27, 27, 27);
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

.navbar-nav .nav-link:hover {
    color: #29d9d5;
}

#buttonNav {
    /* padding: 10px 14px; */
    background-color: transparent;
    padding: 10px 14px;
    font-size: 0.7em;
    color: #29d9d5;
    border: 1px solid #29d9d5;
    border-radius: 50px;
}

#buttonNav:hover {
    background-color: #29d9d5;
    color: #000000;
    text-decoration: none;
}

#textTravel {
    color: rgb(255, 255, 255);
    display: inline;
    font-weight: bolder;
    font-size: 1.45em;
}

#textBgTopOne {
    display: block;
    width: 100%;
    color: white;
    font-family: Extreme;
    font-size: 3.5em;
    text-align: center;
}

#textBgTopTwo {
    display: block;
    width: 100%;
    color: white;
    /*font-size: 2.5em; */
    /* font-size: 1.9em; */
    font-size: 1.9em;
    font-weight: bold;
}

#textBgTopThree {
    display: block;
    width: 100%;
    color: rgba(255, 228, 196, 0.684);
    width: 80%;
    text-align: justify;
}

#rowBanner {
    min-height: 600px;
    background: linear-gradient(rgba(18, 15, 16, 0.5), rgba(18, 15, 16, 0.5)), url("../images/home-bg.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 8px;
}

.gallery {
    max-height: 600px;
    height: 350px;
    background: url('../images/des-1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
}

.gallery:hover {
    transition: all 0.5s ease-in;
    border: 1px solid #29d9d5;
}

.galleryDivs {
    background-color: rgb(27, 27, 27); 
    display: block; 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    margin: 0; 
}

.galleryFirstSpan {
    display: block; 
    color: white;
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subTitleServices{
    display: block; 
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.galleryLorem{
    color: rgba(233, 229, 225, 0.684);
    display: block; 
    width: 100%;
    font-size: 0.85em;
    text-align: center;
}

.divFrontBanner {
    padding: 7px 14px;
    display: block;
    width: 100%;
}

.divFrontBanner span {
    width: 100%;
    font-size: 0.9em;
    letter-spacing: 0.1px;
    display: block;
    color: rgb(180, 177, 173);
    margin-bottom: 2px;
}

#divFrontBannerLast a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 8px;
    height: 45px;
}

.divFrontBanner input {
    border: 1px solid #29d9d5;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 10px;
    color: rgba(163, 159, 155, 0.89);
    outline: none;
    width: 100%;
    height: 45px;
}

.myBall {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    margin: 5px 7px;
    border: none;
    outline: none;
}

.videos {
    display: block;
    border-radius: 8px;
    height: 300px;
    /* width: 450px; */
    max-width: 100%;
    margin: 0 auto;
}

.myBall:hover {
    background-color: #29d9d5;
    cursor: pointer;
}

.titleImageRight {
    color: #29d9d5;
    font-family: 'Poppins';
    font-size: 1.7em;
    text-align: center;
}

.messageImageRight {
    width: 100%;
    display: block;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

#loremImageRight {
    color: rgba(233, 229, 225, 0.684);
    font-family: sans-serif;
}

.divServices {
    background-color: rgb(27, 27, 27);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    height: 100%;
}

.divServices i{
    color: #29d9d5; 
    font-size: 2em; 
    display: block;
    width: 100%;
    text-align: center;
}

.divServices:hover {
    transition: all 0.5s ease-in;
    border: 1px solid #29d9d5;
}

@media only screen and (max-width: 600px) {
    #rowBanner {
        max-height: 900px;
    }

    
    #textBgTopTwo {
        /*font-size: 2.5em; */
        /* font-size: 1.9em; */
        font-size: 1.3em;
    }

    #textBgTopOne {
        font-size: 2.8em;
    }

    #textBgTopThree{
        font-size: 0.8em;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    #textBgTopOne {
        font-size: 4.5em;
    }

    #textBgTopTwo {
        font-size: 3.0em;
    }

    .videos {
        height: 400px;
        width: 560px;
    }

    .titleImageRight {
        font-size: 1.8em;
    }

    .messageImageRight {
        font-size: 1.65em;
    }

    #buttonNav {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {
    #textBgTopThree {
        width: 62%;
    }

    .divFrontBanner {
        width: 50%;
        display: inline;
        float: left;
    }

    .divFrontBanner a {
        margin-top: 22px;
    }

    .videos {
        width: 660px;
        max-height: 300px;
        max-width: 100%;
    }

    .titleImageRight {
        font-size: 1.9em;
    }

    .messageImageRight {
        font-size: 1.75em;
    }

    #loremImageRight {
        font-size: 0.9em;
    }

    .galleryFirstSpan {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 992px) {
    .myNav a.nav-link {
        font-size: 1.2em;
    }

    #buttonNav {
        font-size: 1.2em;
        padding: 10px 24px;
    }

    #textBgTopOne {
        font-size: 5.5em;
    }

    #textBgTopTwo {
        font-size: 3.5em;
    }

    .divFrontBanner input {
        border: 2px solid #29d9d5;
    }

    #divFrontBannerLast a {
        border: 2px solid #29d9d5;
    }

    .divFrontBanner {
        width: 33.33%;
        display: inline;
        float: left;
    }

    #divFrontBannerLast {
        width: 100%;
        padding-top: 0;
    }

    .videos {
        width: 1060px;
        height: 860px;
        max-width: 100%;
    }

    .titleImageRight {
        font-size: 2.2em;
    }

    .messageImageRight {
        font-size: 1.95em;
    }

    #loremImageRight {
        font-size: 0.9em;
    }

    .gallery {
        max-height: 680px;
        height: 370px;
    }

    .divServices {
        border: 2px solid rgb(0, 0, 0);
    }

    .divServices:hover {
        transition: all 0.5s ease-in;
        border: 2px solid #29d9d5;
    }
}

@media only screen and (min-width: 1200px) {
    #textTravel {
        font-size: 1.45em;
        letter-spacing: 0.6px;
    }

    #textBgTopTwo {
        font-size: 5em;
    }

    #textBgTopThree {
        width: 40%;
        font-size: 1.05em;
    }

    #rowBanner {
        min-height: 800px;
    }

    .divFrontBanner {
        width: 25%;
        display: inline;
        float: left;
    }

    #divFrontBannerLast {
        width: 25%;
        padding: 7px;
    }

    .videos {
        width: 660px;
        height: 460px;
        max-height: 100%;
        max-width: 100%;
    }

    .messageImageRight {
        font-size: 2.1em;
    }

    .galleryFirstSpan {
        font-size: 1.2em;
    }

    .galleryLorem{
        font-size: 1em;
        max-width: 80%;
    }

    .divServices .galleryLorem{
        max-width: 90%;
    }

    .galleryFirstSpan {
        font-size: 1.3em;
    }
}